{% load static %}


{% block head %}
<head>
	<meta charset="UTF-8">
	<title>ECU || Service || Ремонт Электроники</title>

	<!-- responsive meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- For IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- master stylesheet -->
	<link rel="stylesheet" href="{% static 'webapp/css/style.css' %}">
	<!-- Responsive stylesheet -->
	<link rel="stylesheet" href="{% static 'webapp/css/responsive.css' %}">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'webapp/images/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" href="{% static 'webapp/images/favicon/ecu_favicon1.png' %}" sizes="32x62">
    <link rel="icon" type="image/png" href="{% static 'webapp/images/favicon/ecu_favicon1.png' %}" sizes="16x16">

    <!-- Fixing Internet Explorer-->
    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <script src="{% static 'webapp/js/html5shiv.js' %}"></script>
    <![endif]-->
</head>

{% endblock %}


<!--Start Preloader -->
<div class="preloader"></div>
<!--End Preloader -->

<!--Start Top bar area -->
<section class="top-bar-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-5 col-sm-12 col-xs-12">
                <div class="welcome">
                    <p>ПРОФЕССИОНАЛЬНЫЙ РЕМОНТ СЛОЖНОЙ ЭЛЕКТРОНИКИ</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12">
                <div class="topinfo clearfix">
                    <div class="select-items clearfix">
{#                        <div class="single-select-item extras">#}
{#                            <select name="extra" class="selectpicker">#}
{#                                <option>Extras</option>#}
{#                                <option>Extras 1</option>#}
{#                                <option>Extras 2</option>#}
{#                                <option>Extras 3</option>#}
{#                            </select>#}
{#                        </div>#}
{#                        <div class="single-select-item">#}
{#                            <span class="flaticon-circular-clock"></span>#}
{#                            <select name="info" class="selectpicker">#}
{#                                <option>Время Работы:</option>#}
{#                                <option>Понедельник 10.00 - 19.00</option>#}
{#                                <option>Вторник 10.00 - 19.00</option>#}
{#                                <option>Среда 10.00 - 19.00</option>#}
{#                                <option>Четверг 10.00 - 19.00</option>#}
{#                                <option>Пятница 10.00 - 19.00</option>#}
{#                                <option>Суббота 10.00 - 17.00</option>#}
{#                            </select>#}
{#                        </div>#}
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <div class="top-social-links">
                    <ul>
                        <li><a href="https://www.instagram.com/smart_service_novopolock/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        <li><a href="https://t.me/belserv"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UC3aUfmmYZNAoI66RPacnJYw"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Top bar area -->

<!--Start header area-->
<header class="header-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="logo">
                    <a href="{% url 'webapp:home' %}">
                        <img src="{% static 'webapp/images/resources/ecu_service_logo1.png' %}" alt="Awesome Logo">
                    </a>
                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <div class="header-contact-info">
                    <ul>
                        <li>
                            <div class="iocn-holder">
                                <span class="flaticon-home-page"></span>
                            </div>
                            <div class="text-holder">
                                <h5>г. Минск</h5>
                                <h6>ул. Кирова 3, Дом Быта</h6>
                            </div>
                        </li>
                        <li>
                            <div class="iocn-holder">
                                <span class="flaticon-clock"></span>
                            </div>
                            <div class="text-holder">
                                <h5>Время Работы:</h5>
                                <h6>Пн - Пт: 10.00 до 19.00</h6>
                            </div>
                        </li>
                        <li>
                            <div class="iocn-holder">
                                <span class="flaticon-envelope"></span>
                            </div>
                            <div class="text-holder">
                                <h5>Наша Почта</h5>
                                <h6>ecuservice@gmail.com</h6>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
<!--End header area-->

<!--Start mainmenu area-->
<section class="mainmenu-area stricky">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-12">
                <!--Start mainmenu-->
                <nav class="main-menu">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse clearfix">
                        <ul class="navigation clearfix">
                            <li {% if request.resolver_match.url_name == 'home' %} class="current" {% endif %} ><a href="{% url 'webapp:home' %}">Главная</a></li>
                            <li {% if request.resolver_match.url_name in "['services', 'encoders', 'board', 'inverter', 'indastrial-electroniks']" %}class="current"{% endif %} class="dropdown"><a href="{% url 'webapp:services' %}">Услуги</a>
                                <ul>
                                    <li {% if request.resolver_match.url_name == 'indastrial-electroniks' %}class="current"{% endif %}><a href="{% url 'webapp:indastrial-electroniks' %}">Промышленная Электроника</a></li>
                                    <li {% if request.resolver_match.url_name == 'encoders' %}class="current"{% endif %}><a href="{% url 'webapp:encoders' %}">Ремонт Датчиков</a></li>
                                    <li {% if request.resolver_match.url_name == 'board' %}class="current"{% endif %}><a href="{% url 'webapp:board' %}">Ремонт Электронных Плат</a></li>
                                    <li {% if request.resolver_match.url_name == 'inverter' %}class="current"{% endif %}><a href="{% url 'webapp:inverter' %}">Ремонт Частотных Преобразователей</a></li>
                                    <li><a href="lcd-repair.html">LCD & LED Tv Repair</a></li>
                                    <li><a href="mp3-repair.html">MP3 & MP4 Player Repair</a></li>
                                </ul>
                            </li>
                            <li {% if request.resolver_match.url_name == 'about' %} class="current" {% endif %}class="dropdown"><a href="{% url 'webapp:about' %}">О Нас</a></li>
                            <li {% if request.resolver_match.url_name == 'shop' %} class="current" {% endif %} class="dropdown"><a href="{% url 'webapp:shop' %}">Мастерская</a>
                                <ul>
                                    <li><a href="shop.html">Shop Products</a></li>
                                    <li><a href="{% url 'webapp:encoders' %}">Single Product</a></li>
                                    <li><a href="shopping-cart.html">Shopping Cart</a></li>
                                    <li><a href="checkout.html">Checkout</a></li>
                                    <li><a href="account.html">My Account</a></li>
                                </ul>
                            </li>
                            <li class="dropdown"><a href="blog.html">Блог</a>
                                <ul>
                                    <li><a href="blog.html">Blog Default</a></li>
                                    <li><a href="blog-single.html">Blog Single</a></li>
                                </ul>
                            </li>
                            <li><a href="{% url 'webapp:contact' %}">Контакты</a></li>
                        </ul>
                    </div>
                </nav>
                <!--End mainmenu-->
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="customer-care pull-left">
                    <div class="icon-holder">
                        <span class="flaticon-cell-phone"></span>
                    </div>
                    <div class="title-holder">
                        <h5>Наш Телефон</h5>
                        <a href="tel:+375295907777"><h4>+375(29)590-77-77</h4></a>
                    </div>
                </div>
                <div class="top-search-box pull-right">
                    <button><i class="fa fa-search"></i></button>
                    <ul class="search-box">
                        <li>
                            <form action="#">
                                <input placeholder="Search for something..." type="text">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End mainmenu area-->

{% block content %}{% endblock %}
<!--Start Brand area-->
<section class="brand-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="brand">
                    <!--Start single item-->
                    {% for main_brands in brands %}
                        <div class="single-item">
                            <a href="#"><img src="{{ main_brands.photo.url }}"
                                             alt="Awesome Brand Image"></a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Brand area-->

<!--Start footer area-->
<footer class="footer-area">
    <div class="container">
        <div class="row">
            <!--Start single footer widget-->
            <div class="col-lg-4 col-md-3 col-sm-12 col-xs-12">
                <div class="single-footer-widget pd-bottom">
                    <div class="footer-logo">
                        <a href="{% url 'webapp:home' %}">
                            <img src="{% static 'webapp/images/footer/ecu_favicon_two.png' %}" alt="Awesome Footer Logo">
                        </a>
                    </div>
                    <div class="repairplus-info">
                        <p class="top">Repairplus brings 41 years of Digital Repairs  experience right to your Device. Our Texhnicians are equipped to help you that work best.</p>
                        <p>Our commitment to bring professionalism, good service & trust to the Phone repair service & maintenance business.</p>
                        <div class="button">
                            <a class="thm-btn bg-1" href="#">Purchase theme</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--End single footer widget-->
            <div class="col-lg-8 col-md-9 col-sm-12 col-xs-12">
                <div class="footer-widget">
                    <div class="row">
                        <!--Start single footer widget-->
                        <div class="col-lg-3 col-md-4 col-sm-12">
                            <div class="single-footer-widget">
                                <div class="title">
                                    <h3>Наши Услуги</h3>
                                </div>
                                {% for main_services_footer in main_serv %}
                                    {% if forloop.counter <= 4 %}
                                        <ul class="services-list">
                                            <li>
                                                <a href="{{ main_services_footer.link }}">{{ main_services_footer.name }}</a>
                                            </li>
                                        </ul>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <!--Start single footer widget-->
                        <!--Start single footer widget-->
                        <div class="col-lg-5 col-md-4 col-sm-12">
                            <div class="single-footer-widget subscribe-form-widget">
                                <div class="title">
                                    <h3>Наши соцети</h3>
                                </div>
                                <div class="footer-social-links">
                                    <ul>
                                        <li><a href="https://www.instagram.com/smart_service_novopolock/"><i
                                                class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                        <li><a href="https://t.me/belserv"><i class="fa fa-paper-plane-o"
                                                                              aria-hidden="true"></i></a></li>
                                        <li><a href="https://www.youtube.com/channel/UC3aUfmmYZNAoI66RPacnJYw"><i
                                                class="fa fa-youtube" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                                <div class="subscribe-form">
                                    <p> </p>
                                    <p>Подпишитесь на наши Новости!</p>
                                    <form action="#">
                                        <input name="email" placeholder="Enter Your Email..." type="text">
                                        <button type="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                                    </form>
                                    <h4>Мы не занимаемся рассылкой спама.</h4>
                                </div>
                            </div>
                        </div>
                        <!--End single footer widget-->
                        <!--Start single footer widget-->
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="single-footer-widget contact-info-widget">
                                <div class="title">
                                    <h3>Контакты</h3>
                                </div>
                                <ul class="footer-contact-info">
                                    <li>
                                        <div class="icon-holder">
                                            <span class="flaticon-home-page"></span>
                                        </div>
                                        <div class="text-holder">
                                            <h5><span>г.Минск</span><br> ул. Кирова 3, Дом Быта</h5>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon-holder">
                                            <span class="flaticon-call-answer"></span>
                                        </div>
                                        <div class="text-holder">
                                            <h5><span>Наш Телефон</span><br> +375(29)590-77-77</h5>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon-holder">
                                            <span class="flaticon-envelope"></span>
                                        </div>
                                        <div class="text-holder">
                                            <h5><span>Наша Почта</span><br>ecuservice@gmail.com</h5>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon-holder">
                                            <span class="flaticon-clock"></span>
                                        </div>
                                        <div class="text-holder">
                                            <h5><span>Время работы</span><br>Пн - Пт: 10.00 до 19.00</h5>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--End single footer widget-->
                    </div>
                </div>
            </div>
        </div>

        <!--Start footer botton-->
        <div class="row">
            <div class="col-md-12">
                <div class="footer-bottom">
                    <div class="copyright-text pull-left">
                        <p>Copyrights © 2024 All Rights Reserved by <a href="https://t.me/ultravioletpartyeyes">PhoenixPegasus.</a></p>
                    </div>
                    <div class="payment-method pull-right">
                        <ul>
                            <li><a href="#"><i class="fa fa-cc-visa" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-cc-paypal" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-cc-mastercard" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-cc-amex" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-cc-discover" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <!--End footer botton-->
    </div>
</footer>
<!--End footer area-->


<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>

<!-- main jQuery -->
<script src="{% static 'webapp/js/jquery.js' %}"></script>
<!-- bootstrap -->
<script src="{% static 'webapp/js/bootstrap.min.js' %}"></script>
<!-- bx slider -->
<script src="{% static 'webapp/js/jquery.bxslider.min.js' %}"></script>
<!-- count to -->
<script src="{% static 'webapp/js/jquery.countTo.js' %}"></script>
<!-- owl carousel -->
<script src="{% static 'webapp/js/owl.carousel.min.js' %}"></script>
<!-- validate -->
<script src="{% static 'webapp/js/validate.js' %}"></script>
<!-- mixit up -->
<script src="{% static 'webapp/js/jquery.mixitup.min.js' %}"></script>
<!-- easing -->
<script src="{% static 'webapp/js/jquery.easing.min.js' %}"></script>
<!-- gmap helper -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHzPSV2jshbjI8fqnC_C4L08ffnj5EN3A"></script>
<!--gmap script-->
<script src="{% static 'webapp/js/gmaps.js' %}"></script>
<script src="{% static 'webapp/js/map-helper.js' %}"></script>
<!-- video responsive script -->
<script src="{% static 'webapp/js/jquery.fitvids.js' %}"></script>
<!-- jQuery ui js -->
<script src="{% static 'webapp/assets/jquery-ui-1.11.4/jquery-ui.js' %}"></script>
<!-- Language Switche  -->
<script src="{% static 'webapp/assets/language-switcher/jquery.polyglot.language.switcher.js' %}"></script>
<!-- fancy box -->
<script src="{% static 'webapp/js/jquery.fancybox.pack.js' %}"></script>
<script src="{% static 'webapp/js/jquery.appear.js' %}"></script>
<!-- isotope script-->
<script src="{% static 'webapp/js/isotope.js' %}"></script>
<script src="{% static 'webapp/js/jquery.prettyPhoto.js' %}"></script>
<!-- jQuery timepicker js -->
<script src="{% static 'webapp/assets/timepicker/timePicker.js' %}"></script>
<!-- Bootstrap select picker js -->
<script src="{% static 'webapp/assets/bootstrap-sl-1.12.1/bootstrap-select.js' %}"></script>


<!-- revolution slider js -->
<script src="{% static 'webapp/assets/revolution/js/jquery.themepunch.tools.min.js' %}"></script>
<script src="{% static 'webapp/assets/revolution/js/jquery.themepunch.revolution.min.js' %}"></script>
<script src="{% static 'webapp/assets/revolution/js/extensions/revolution.extension.actions.min.js' %}"></script>
<script src="{% static 'webapp/assets/revolution/js/extensions/revolution.extension.carousel.min.js' %}"></script>
<script src="{% static 'webapp/assets/revolution/js/extensions/revolution.extension.kenburn.min.js' %}"></script>
<script src="{% static 'webapp/assets/revolution/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
<script src="{% static 'webapp/assets/revolution/js/extensions/revolution.extension.migration.min.js' %}"></script>
<script src="{% static 'webapp/assets/revolution/js/extensions/revolution.extension.navigation.min.js' %}"></script>
<script src="{% static 'webapp/assets/revolution/js/extensions/revolution.extension.parallax.min.js' %}"></script>
<script src="{% static 'webapp/assets/revolution/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
<script src="{% static 'webapp/assets/revolution/js/extensions/revolution.extension.video.min.js' %}"></script>


<!-- thm custom script -->
<script src="{% static 'webapp/js/custom.js' %}"></script>

