{% load static %}


<!--Start rev slider wrapper-->
<section class="rev_slider_wrapper">
    <div id="slider1" class="rev_slider"  data-version="5.0">
        <ul>

            <li data-transition="fade">
                <img src="{% static 'webapp/images/slides/ecu_block.jpg' %}" alt="" width="1920" height="240" data-bgposition="top left" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1" >
                <div class="tp-caption  tp-resizeme"
                    data-x="left" data-hoffset="0"
                    data-y="top" data-voffset="125"
                    data-transform_idle="o:1;"
                    data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;"
                    data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                    data-mask_in="x:[100%];y:0;s:inherit;e:inherit;"
                    data-splitin="none"
                    data-splitout="none"
                    data-responsive_offset="on"
                    data-start="700">
                    <div class="slide-content-box">
                        <h1>Добро Пожаловать в<br> ECU Service</h1>
                        <p>Используя оригинальные детали и компоненты, <br>Восстановим ваши Device до состояния "как новые".</p>
                    </div>
                </div>
                <div class="tp-caption tp-resizeme"
                    data-x="left" data-hoffset="0"
                    data-y="top" data-voffset="350"
                    data-transform_idle="o:1;"
                    data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                    data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                    data-splitin="none"
                    data-splitout="none"
                    data-responsive_offset="on"
                    data-start="2300">
                    <div class="slide-content-box">
                        <div class="button">
                            <a class="thm-btn bg-1" href="">Позвонить</a>
                        </div>
                    </div>
                </div>
                <div class="tp-caption tp-resizeme"
                    data-x="left" data-hoffset="176"
                    data-y="top" data-voffset="350"
                    data-transform_idle="o:1;"
                    data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                    data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                    data-splitin="none"
                    data-splitout="none"
                    data-responsive_offset="on"
                    data-start="2600">
                    <div class="slide-content-box">
                        <div class="button">
                            <a class="thm-btn bg-2" href="">Написать на Почту</a>
                        </div>
                    </div>
                </div>
            </li>
            <li data-transition="fade">
                <img src="{% static 'webapp/images/slides/2.png' %}" alt="" width="1920" height="540" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1" >

                <div class="tp-caption tp-resizeme"
                    data-x="right" data-hoffset="0"
                    data-y="center" data-voffset="-24"
                    data-transform_idle="o:1;"
                    data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;"
                    data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                    data-mask_in="x:[100%];y:0;s:inherit;e:inherit;"
                    data-splitin="none"
                    data-splitout="none"
                    data-responsive_offset="on"
                    data-start="500">
                    <div class="slide-content-box">
                        <h1>Оригинальные <br>запчасти</h1>
                        <p>Тут все зависит от вашего желания - цена или качество<br>Найдем подход к любому клиенту.</p>
                        <div class="button">
                            <a class="thm-btn bg-1" href="#">Позвонить</a>
                            <a class="thm-btn bg-2" href="#">Написать на Почту</a>
                        </div>
                    </div>
                </div>
            </li>
            <li data-transition="fade">
                <img src="{% static 'webapp/images/slides/3.png' %}" alt="" width="1920" height="540" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1" >

                <div class="tp-caption  tp-resizeme"
                    data-x="left" data-hoffset="0"
                    data-y="top" data-voffset="125"
                    data-transform_idle="o:1;"
                    data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;"
                    data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                    data-mask_in="x:[100%];y:0;s:inherit;e:inherit;"
                    data-splitin="none"
                    data-splitout="none"
                    data-responsive_offset="on"
                    data-start="700">
                    <div class="slide-content-box">
                        <h1>Занимаемся Сложным<br>ремонтом.</h1>
                        <p>Мы можем восстанавливать: ECU TCU DCT ECM<br>С любыми не фатальными повреждениями.</p>
                    </div>
                </div>
                <div class="tp-caption tp-resizeme"
                    data-x="left" data-hoffset="0"
                    data-y="top" data-voffset="350"
                    data-transform_idle="o:1;"
                    data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                    data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                    data-splitin="none"
                    data-splitout="none"
                    data-responsive_offset="on"
                    data-start="2300">
                    <div class="slide-content-box">
                        <div class="button">
                            <a class="thm-btn bg-1" href="">Позвонить</a>
                        </div>
                    </div>
                </div>
                <div class="tp-caption tp-resizeme"
                    data-x="left" data-hoffset="173"
                    data-y="top" data-voffset="350"
                    data-transform_idle="o:1;"
                    data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                    data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                    data-splitin="none"
                    data-splitout="none"
                    data-responsive_offset="on"
                    data-start="2600">
                    <div class="slide-content-box">
                        <div class="button">
                            <a class="thm-btn bg-2" href="">Написать на Почту</a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
<!--End rev slider wrapper-->
