{% extends 'main/base.html' %}
{% load static %}


{% block content %}

    <!--Start breadcrumb area-->
    <section class="breadcrumb-area" style="background-image: url('{% if contact_banner_image %}{{ contact_banner_image.url }}{% else %}{% static 'webapp/images/resources/ecu_proc_back.jpg' %}{% endif %}');">
        <div class="container text-center">
            <h1>Ремонт Блока CPC4 Mercedes</h1>
        </div>
    </section>

    <!--Start breadcrumb bottom area-->
    <section class="breadcrumb-botton-area">
        <div class="container">
            <div class="left pull-left">
                <ul>
                    <li><a href="{% url 'webapp:home' %}">На Главную</a></li>
                    <li><i class="fa fa-caret-right" aria-hidden="true"></i></li>
                    <li><a href="{% url 'webapp:services' %}">Услуги</a></li>
                    <li><i class="fa fa-caret-right" aria-hidden="true"></i></li>
                    <li>Ремонт Блока CPC4 Mercedes</li>
                </ul>
            </div>
        </div>
    </section>
    <!--End breadcrumb bottom area-->

    <!--Start service single area-->
    <section id="service-single-area" class="smartphone-repair-area">
        <div class="container">
            <div class="row">
                <!--Start sidebar Wrapper-->
                <div class="col-lg-3 col-md-4 col-sm-7 col-xs-12">
                    <div class="sidebar-wrapper">
                        <!--Start single sidebar-->
                        <div class="single-sidebar">
                            <form class="search-form" action="#">
                                <input placeholder="Поиск..." type="text">
                                <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </form>
                        </div>
                        <!--End single sidebar-->
                    </div>
                </div>
                <!--End Sidebar Wrapper-->
                <div class="col-md-9 col-sm-12 col-xs-12 pull-right">
                    <div class="service-single-content">
                        {% for main_cpc4 in main_cpc_four %}
                            <div class="row top-content">
                                <div class="col-md-5 col-sm-12 col-xs-12">
                                    <div class="img-holder">
                                        <img src="{{ main_cpc4.image.url }}"
                                             alt="Awesome Image">
                                    </div>
                                </div>
                                <div class="col-md-7 col-sm-12 col-xs-12">
                                    <div class="text-holder">
                                        <div class="title">
                                            <h2>{{ main_cpc4.name }}</h2>
                                        </div>
                                        <div class="text">
                                            <p>{{ main_cpc4.description | safe }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                        {% for main_cpc4 in main_cpc_four %}
                            <div class="row middle-content">
                                <div class="col-md-7">
                                    <div class="text-holder">
                                        <div class="title">
                                            <h2>{{ main_cpc4.name_two }}</h2>
                                        </div>
                                        <div class="text">
                                            <p>{{ main_cpc4.description_two | safe  }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="img-holder ">
                                        <img src="{{ main_cpc4.image_two.url }}"
                                             alt="Awesome Image">
                                        <div class="button">
                                            <a href="{% url 'webapp:contact' %}">ECUS</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="text-holder">
                                        <div class="text-for-visit">
                                            <h5>{{ main_cpc4.client_visit | safe  }}</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                            </div>
                        {% endfor %}

                <div class="col-md-3 col-sm-7 col-xs-12 pull-left">
                    <div class="service-single-sidebar">
                        <ul class="service-lists">
                            <li class="allservice"><a href="{% url 'webapp:services' %}">Все Наши Услуги<i
                                    class="fa fa-cog" aria-hidden="true"></i></a></li>
                            {% for main_categories in main_serv|slice:":8" %}
                                <li><a href="{{ main_categories.link }}">
                                    {% if main_categories.name|length > 24 %}
                                        {{ main_categories.name|slice:":24" }}...
                                    {% else %}
                                        {{ main_categories.name }}
                                    {% endif %}</a></li>
                            {% endfor %}
                        </ul>
                        <div class="repair-time">
                            <h3>Напиши в течении<br> 60 Минут!</h3>
                            <a class="thm-btn bg-1" href="#">Получи скидку!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Start about us area-->
    {% for main_errors in main_cpc_four %}
    <section class="about-us-area">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="about-content">
                        <div class="sec-title-two">
                            <h1>ремонт Блока CPC4</h1>
                            <span class="border"></span>
                        </div>
                        <ul>
                            <li>
                                <div class="img-holder img-fixed-size-cpc">
                                    <img src="{{ main_errors.image_three.url }}" alt="Awesome Image">
                                </div>
                            </li>
                            {#                            <li>#}
                            {#                                <div class="img-holder">#}
                            {#                                    <img src="{% static 'webapp/images/about/2.jpg' %}" alt="Awesome Image">#}
                            {#                                </div>#}
                            {#                            </li>#}
                            {#                            <li>#}
                            {#                                <div class="img-holder">#}
                            {#                                    <img src="{% static 'webapp/images/about/3.jpg' %}" alt="Awesome Image">#}
                            {#                                </div>#}
                            {#                            </li>#}
                        </ul>
                        <div class="text-holder">
                            <p>{{ main_errors.description_four | safe }}</p>
                        </div>
                        <div class="text-holder">
                            <h3>Общий ремонт контроллера
                                <span>CPC4</span></h3>
                            <p>{{ main_errors.description_six | safe }}</p>
{#                            <h3>Save time, Save money, With Quality Phone Repair Service,#}
{#                                <span>Purchase - RepairPlus</span></h3>#}
                        </div>
                    </div>
                </div>
                    <div class="col-md-6">
                        <div class="choose-us-content">
                            <div class="sec-title-two">
                                <h2>возможные неисправности:</h2>
                                <span class="border"></span>
                            </div>
                            <ul>
                                <li>
                                    <div class="iocn-holder">
                                        <span class="flaticon-settings"></span>
                                    </div>
                                    <div class="text-holder">
                                        <h4>{{ main_errors.errors_name }}</h4>
                                    </div>
                                </li>
                                <li>
                                    <div class="iocn-holder">
                                        <span class="flaticon-wrench"></span>
                                    </div>
                                    <div class="text-holder">
                                        <h4>{{ main_errors.errors_name_two }}</h4>
                                    </div>
                                </li>
                                <li>
                                    <div class="iocn-holder">
                                        <span class="flaticon-customer-support"></span>
                                    </div>
                                    <div class="text-holder">
                                        <h4>{{ main_errors.errors_name_three }}</h4>
                                    </div>
                                </li>
                                <li>
                                    <div class="iocn-holder">
                                        <span class="flaticon-customer-support"></span>
                                    </div>
                                    <div class="text-holder">
                                        <h4>{{ main_errors.errors_name_four }}</h4>
                                    </div>
                                </li>
                                <li>
                                    <div class="iocn-holder">
                                        <span class="flaticon-customer-support"></span>
                                    </div>
                                    <div class="text-holder">
                                        <h4>{{ main_errors.errors_name_five }}</h4>
                                    </div>
                                </li>
                                <li>
                                    <div class="iocn-holder">
                                        <span class="flaticon-customer-support"></span>
                                    </div>
                                    <div class="text-holder">
                                        <h4>{{ main_errors.errors_name_six }}</h4>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
            </div>
        </div>
    </section>
     {% endfor %}
    {% for main_errors in main_cpc_four %}
    <section class="about-us-area">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="about-content">
                        <div class="sec-title-two">
                            <h1>ремонт Блока CPC4</h1>
                            <span class="border"></span>
                        </div>
                        <ul>
                            <li>
                                <div class="img-holder img-fixed-size-cpc">
                                    <img src="{{ main_errors.image_three.url }}" alt="Awesome Image">
                                </div>
                            </li>
                            {#                            <li>#}
                            {#                                <div class="img-holder">#}
                            {#                                    <img src="{% static 'webapp/images/about/2.jpg' %}" alt="Awesome Image">#}
                            {#                                </div>#}
                            {#                            </li>#}
                            {#                            <li>#}
                            {#                                <div class="img-holder">#}
                            {#                                    <img src="{% static 'webapp/images/about/3.jpg' %}" alt="Awesome Image">#}
                            {#                                </div>#}
                            {#                            </li>#}
                        </ul>
                        <div class="text-holder">
                            <p>{{ main_errors.description_four | safe }}</p>
                        </div>
                        <div class="text-holder">
                            <h3>Общий ремонт контроллера
                                <span>CPC4</span></h3>
                            <p>{{ main_errors.description_six | safe }}</p>
{#                            <h3>Save time, Save money, With Quality Phone Repair Service,#}
{#                                <span>Purchase - RepairPlus</span></h3>#}
                        </div>
                    </div>
                </div>
                    <div class="col-md-6">
                        <div class="choose-us-content">
                            <div class="sec-title-two">
                                <h2>возможные неисправности:</h2>
                                <span class="border"></span>
                            </div>
                            <ul>
                                <li>
                                    <div class="iocn-holder">
                                        <span class="flaticon-settings"></span>
                                    </div>
                                    <div class="text-holder">
                                        <h4>{{ main_errors.errors_name }}</h4>
                                    </div>
                                </li>
                                <li>
                                    <div class="iocn-holder">
                                        <span class="flaticon-wrench"></span>
                                    </div>
                                    <div class="text-holder">
                                        <h4>{{ main_errors.errors_name_two }}</h4>
                                    </div>
                                </li>
                                <li>
                                    <div class="iocn-holder">
                                        <span class="flaticon-customer-support"></span>
                                    </div>
                                    <div class="text-holder">
                                        <h4>{{ main_errors.errors_name_three }}</h4>
                                    </div>
                                </li>
                                <li>
                                    <div class="iocn-holder">
                                        <span class="flaticon-customer-support"></span>
                                    </div>
                                    <div class="text-holder">
                                        <h4>{{ main_errors.errors_name_four }}</h4>
                                    </div>
                                </li>
                                <li>
                                    <div class="iocn-holder">
                                        <span class="flaticon-customer-support"></span>
                                    </div>
                                    <div class="text-holder">
                                        <h4>{{ main_errors.errors_name_five }}</h4>
                                    </div>
                                </li>
                                <li>
                                    <div class="iocn-holder">
                                        <span class="flaticon-customer-support"></span>
                                    </div>
                                    <div class="text-holder">
                                        <h4>{{ main_errors.errors_name_six }}</h4>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
            </div>
        </div>
    </section>
     {% endfor %}
    <!--End about us area-->

    <!--*Mail Form*-->
    <section class="call-to-action-area-mailform services-area">
        <div class="container">
            <div class="row">
                <!--*Newsletter*-->
                <div id="newsletter" class="mail-form-animation">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6 col-xs-12">
                                <div class="news-content">
                                    <img src="{% static 'webapp/images/resources/ecu_service_logo1.png' %}"
                                         class="img-fixed-size-for-mailform" alt="Awesome Logo">
                                    <h2>Бесплатная Консультация</h2>
                                    <p class="beige"><b>НАПИШИТЕ НАМ И В ТЕЧЕНИИ 10 МНУТ МЫ С ВАМИ СВЯЖЕМСЯ.</b></p>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <div class="mailpoet_form">
                                    <form target="_self" method="post" action="{% url 'webapp:contact' %}"
                                          novalidate="">
                                        {% csrf_token %}
                                        <input type="text" class="mailpoet_text" name="name"
                                               placeholder="Введите Ваше Имя">
                                        <input type="email" class="mailpoet_text" name="email" title="Email"
                                               placeholder="Введите Ваш Телефон">
                                        <input type="text" class="mailpoet_text" name="description"
                                               placeholder="Опишите проблему">
                                        <div class="button">
                                            <input type="submit" class="mailpoet_submit" value="Отправить Сообщение">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--*End Newsletter*-->
            </div>
        </div>
    </section>
    <!--*END MAIL FORM*-->

    <section class="categories-area-two background-image-about">
        <!--Start product tab box-->
        <div class="container">
            <div class="row">
                {% for main_cpc4 in main_cpc_four %}
                    <div class="col-md-12">
                        <div class="product-tab-box">
                            <ul class="nav nav-tabs tab-menu">
                                <li class="active"><a href="#desc" data-toggle="tab">Контакты</a></li>
                                <li><a href="#review" data-toggle="tab">Описание</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="desc">
                                    <div class="product-details-content">
                                        <div class="desc-content-box">
                                            <div class="news-content">
                                                <p><br><br>Наш телефон: +375295907777<br>➖➖➖➖➖➖➖➖➖➖➖<br>Наша почта: ecuservice@gmail.com<br>➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖<br></p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="review">
                                    <div class="review-box">
                                        <div class="sec-title-two">
                                            <h3>Что это и с чем его едят</h3>
                                        </div>
                                        <!--Start single review box-->
                                        <div class="single-review-box">
                                            <div class="img-holder img-fixed-size-two">
                                                <img src="{{ main_cpc4.image_three.url }}"
                                                     alt="Awesome Image">
                                            </div>
                                            <div class="text-holder">
                                                <div class="top">
                                                    <div class="review-box pull-right">
                                                        <ul>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="text">
                                                    <p>{{ main_cpc4.description_three | safe }}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!--End single review box-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <!--End product tab box-->
        </div>
    </section>

    <section class="call-to-action-area-two">
        <div class="container">
            <div class="col-md-12">
                <!--Start related product box-->
                <div class="related-product">
                    <div class="sec-title-two">
                        <h3>Услуги</h3>
                    </div>
                    <div class="row">
                        <!--Start single product item-->
                        {% for main_services in main_serv|slice:":4" %}
                            <div class="col-md-3 col-sm-3 col-xs-6">
                                <div class="single-item">
                                    <div class="single-product-item">
                                        <div class="img-holder">
                                            <img src="{{ main_services.image.url }}" class="img-fixed-size"
                                                 alt="Awesome Product Image">
                                            <div class="overlay-box">
                                                <div class="box">
                                                    <div class="content">
                                                        <a class="thm-btn bg-1" href="{{ main_services.link }}">Узнать
                                                            Больше</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="title-holder">
                                            <div class="top clearfix">
                                                <div class="product-title pull-left">
                                                    <a href="{{ main_services.link }}">
                                                        <h5>{{ main_services.name }}</h5>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <!--End single product item-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End service single area-->

{% endblock %}
