{% extends 'main/base.html' %}
{% load static %}


{% block content %}

    <!--Start breadcrumb area-->
    <section class="breadcrumb-area" style="background-image: url('{% if contact_banner_image %}{{ contact_banner_image.url }}{% else %}{% static 'webapp/images/resources/ecu_banner_prom.png' %}{% endif %}');">
        <div class="container text-center">
            <h1>Ремонт Промышленной Электроники</h1>
        </div>
    </section>

    <!--Start breadcrumb bottom area-->
    <section class="breadcrumb-botton-area">
        <div class="container">
            <div class="left pull-left">
                <ul>
                    <li><a href="{% url 'webapp:home' %}">На Главную</a></li>
                    <li><i class="fa fa-caret-right" aria-hidden="true"></i></li>
                    <li><a href="{% url 'webapp:shop' %}">Услуги</a></li>
                    <li><i class="fa fa-caret-right" aria-hidden="true"></i></li>
                    <li>Ремонт Промышленной Электроники</li>
                </ul>
            </div>
        </div>
    </section>
    <!--End breadcrumb bottom area-->

    <!--Start services area-->
    <section class="call-to-action-area services-area">
        <div class="container">
            <div class="row">
                <!--Start single item-->
                {% for main_inverters in main_inverter %}
                <div class="col-md-4">
                    <div class="single-item text-center">
                        <a href="{% url 'webapp:encoders' %}">
                            <h2>{{ main_inverters.name }}</h2>
                        </a>
                        <div class="img-holder">
                            <img src="{{ main_inverters.image_two.url }}" alt="Awesome Image" class="img-fixed-size-five">
                            <div class="overlay">
                                <div class="box">
                                    <div class="content">
                                        <a href="{% url 'webapp:encoders' %}"><i class="fa fa-link"
                                                                               aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-holder">
                            <p>{{ main_inverters.description | safe}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!--End single item-->
            </div>
        </div>
    </section>
    <!--End services area-->

    <!--*Mail Form*-->
    <section class="call-to-action-area-mailform services-area">
        <div class="container">
            <div class="row">
                <!--*Newsletter*-->
                <div id="newsletter">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6 col-xs-12">
                                <div class="news-content">
                                    <img src="{% static 'webapp/images/resources/ecu_service_logo1.png' %}"
                                         class="img-fixed-size-for-mailform" alt="Awesome Logo">
                                    <h2>Бесплатная Консультация</h2>
                                    <p class="beige"><b>НАПИШИТЕ НАМ И В ТЕЧЕНИИ 10 МНУТ МЫ С ВАМИ СВЯЖЕМСЯ.</b></p>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <div class="mailpoet_form">
                                    <form target="_self" method="post" action="{% url 'webapp:contact' %}"
                                          novalidate="">
                                        {% csrf_token %}
                                        <input type="text" class="mailpoet_text" name="name"
                                               placeholder="Введите Ваше Имя">
                                        <input type="email" class="mailpoet_text" name="email" title="Email"
                                               placeholder="Введите Ваш Телефон">
                                        <input type="text" class="mailpoet_text" name="description"
                                               placeholder="Опишите проблему">
                                        <div class="button">
                                            <input type="submit" class="mailpoet_submit" value="Отправить Сообщение">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--*End Newsletter*-->
            </div>
        </div>
    </section>
    <!--*END MAIL FORM*-->

{% endblock %}
