{% extends 'main/base.html' %}
{% load static %}


{% block content %}
    <!--Start breadcrumb area-->
    <section class="breadcrumb-area" style="background-image: url('{% if contact_banner_image %}{{ contact_banner_image.url }}{% else %}{% static 'webapp/images/resources/ecu_uslugi1.png' %}{% endif %}');">
        <div class="container text-center">
            <h1>Наши Услуги</h1>
        </div>
    </section>
    <!--End breadcrumb area-->

<!--Start breadcrumb bottom area-->
<section class="breadcrumb-botton-area">
    <div class="container">
        <div class="left pull-left">
            <ul>
                <li><a href="{% url 'webapp:home' %}">Home</a></li>
                <li><i class="fa fa-caret-right" aria-hidden="true"></i></li>
                <li>Услуги</li>
            </ul>    
        </div>
        <div class="right pull-right">
            <a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i>Поделиться</a>
        </div>  
    </div>
</section>
<!--End breadcrumb bottom area-->

    <!--Start services area-->
    <section class="call-to-action-area-two">
        <div class="container">
            <div class="row">
                <div class="related-product">
                    <div class="sec-title-two">
                        <h3>Наши Услуги</h3>
                    </div>
                    <div class="row">
                        <!--Start single product item-->
                        {% for main_services in main_serv|slice:":8" %}
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="single-product-item">
                                    <div class="img-holder">
                                        <img src="{{ main_services.image.url }}" class="img-fixed-size"
                                             alt="Awesome Product Image">
                                        <div class="overlay-box">
                                            <div class="box">
                                                <div class="content">
                                                    <a class="thm-btn bg-1" href="{{ main_services.link }}">Узнать
                                                        Больше</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="title-holder">
                                        <div class="top clearfix">
                                            <div class="product-title pull-left">
                                                <a href="{{ main_services.link }}">
                                                    <h5>{{ main_services.name }}</h5>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="text-holder">
                                            <p>{{ main_services.description }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if forloop.counter|divisibleby:3 %}
                                {# Закрываем текущий ряд после каждой третьей модели #}
                                </div>
                                <div class="row">
                            {% endif %}
                        {% endfor %}
                        <!--End single product item-->
                        </div>
                </div>
            </div>
        </div>
    </section>
    <!--End services area-->

<!--Start services area-->
<section class="call-to-action-area services-area">
    <div class="container">
        <div class="row">
            <!--Start single item-->
            <div class="col-md-4">
                <div class="single-item text-center">
                    <a href="../smartphone-repair.html">
                        <h5>Smart phone Repair</h5>
                    </a>
                    <div class="img-holder">
                        <img src="{% static 'webapp/images/services/1.jpg' %}" alt="Awesome Image">
                        <div class="overlay">
                            <div class="box">
                                <div class="content">
                                    <a href="../smartphone-repair.html"><i class="fa fa-link" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-holder">
                        <p>We specialise in Phone repairs for Apple iPhones, iPad, iPod, Samsung, Galaxy, Sony, HTC, Nexus, Motorola, Blackberry &amp; Tablets.</p>
                    </div>
                </div>
            </div>
            <!--End single item-->
            <!--Start single item-->
            <div class="col-md-4">
                <div class="single-item text-center">
                    <a href="../tablet-repair.html">
                        <h5>Tablets & Ipad Repair</h5>
                    </a>
                    <div class="img-holder">
                        <img src="{% static 'webapp/images/services/2.jpg' %}" alt="Awesome Image">
                        <div class="overlay">
                            <div class="box">
                                <div class="content">
                                    <a href="../tablet-repair.html"><i class="fa fa-link" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-holder">
                        <p>If you are facing any problem with your Tablets / Ipads, Kindly pls go through the menttioned catagories as per requirement.</p>
                    </div>
                </div>
            </div>
            <!--End single item-->
            <!--Start single item-->
            <div class="col-md-4">
                <div class="single-item text-center">
                    <a href="../desktop-repair.html">
                        <h5>Desktop & Mac Repair</h5>
                    </a>
                    <div class="img-holder">
                        <img src="{% static 'webapp/images/services/3.jpg' %}" alt="Awesome Image">
                        <div class="overlay">
                            <div class="box">
                                <div class="content">
                                    <a href="../desktop-repair.html"><i class="fa fa-link" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-holder">
                        <p>We specialist in providing On-Site Computer Desktop Repair Service and Network Support for all sized business, On-Site Computer.</p>
                    </div>
                </div>
            </div>
            <!--End single item-->
            <!--Start single item-->
            <div class="col-md-4">
                <div class="single-item text-center">
                    <a href="../game-repair.html">
                        <h5>Game Console Repair</h5>
                    </a>
                    <div class="img-holder">
                        <img src="{% static 'webapp/images/services/4.jpg' %}" alt="Awesome Image">
                        <div class="overlay">
                            <div class="box">
                                <div class="content">
                                    <a href="../game-repair.html"><i class="fa fa-link" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-holder">
                        <p>Has your gaming life come to a halt because of faulty equipment? Let us help you with video game console repair, Our technicians can.</p>
                    </div>
                </div>
            </div>
            <!--End single item-->
            <!--Start single item-->
            <div class="col-md-4">
                <div class="single-item text-center">
                    <a href="../lcd-repair.html">
                        <h5>LCD & LED Tv Repair</h5>
                    </a>
                    <div class="img-holder">
                        <img src="{% static 'webapp/images/services/5.jpg' %}" alt="Awesome Image">
                        <div class="overlay">
                            <div class="box">
                                <div class="content">
                                    <a href="../lcd-repair.html"><i class="fa fa-link" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-holder">
                        <p>It doesn’t matter where you purchased your television, our experts can fix the problem at our state-of-the-art repair lab.</p>
                    </div>
                </div>
            </div>
            <!--End single item-->
            <!--Start single item-->
            <div class="col-md-4">
                <div class="single-item text-center">
                    <a href="../mp3-repair.html">
                        <h5>MP3 & Mp4 Player Repair</h5>
                    </a>
                    <div class="img-holder">
                        <img src="{% static 'webapp/images/services/6.jpg' %}" alt="Awesome Image">
                        <div class="overlay">
                            <div class="box">
                                <div class="content">
                                    <a href="../mp3-repair.html"><i class="fa fa-link" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-holder">
                        <p>If you are facing any problem with your MP3 / P4 Player, dont worry our experts also repair those digital systems.</p>
                    </div>
                </div>
            </div>
            <!--End single item-->
        </div>
    </div>
</section>
<!--End services area-->
{% endblock %}
