{% extends 'main/base.html' %}
{% load static %}


{% block content %}

    <!--Start breadcrumb area-->
    <section class="breadcrumb-area" style="background-image: url('{% if contact_banner_image %}{{ contact_banner_image.url }}{% else %}{% static 'webapp/images/blog/ecu_bredcrumps.jpg' %}{% endif %}');">
        <div class="container text-center">
            <h1>Наши Новости</h1>
        </div>
    </section>

    <!--Start breadcrumb bottom area-->
    <section class="breadcrumb-botton-area">
        <div class="container">
            <div class="left pull-left">
                <ul>
                    <li><a href="{% url 'webapp:home' %}">Главная</a></li>
                    <li><i class="fa fa-caret-right" aria-hidden="true"></i></li>
                    <li>Новости</li>
                </ul>
            </div>
            <div class="right pull-right">
                <a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i>Share</a>
            </div>
        </div>
    </section>
    <!--End breadcrumb bottom area-->

    <!--Start blog area-->
    <section id="blog-area" class="blog-with-sidebar-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
                    <div class="blog-post">
                        <!--Start single blog post-->
                        <div class="single-blog-item">
                            <div class="img-holder">
                                <img src="{% static 'webapp/images/blog/1.jpg' %}" alt="Awesome Image">
                                <div class=" overlay">
                                    <div class="box">
                                        <div class="content">
                                            <a href="blog-single.html"><i class="fa fa-link"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-holder">
                                <div class="date-box">
                                    <h4>21 Aug</h4>
                                </div>
                                <div class="text-box">
                                    <a href="blog-single.html">
                                        <h3 class="blog-title">iPad Repairs For Schools/Universities Across The Usa</h3>
                                    </a>
                                    <ul class="meta-info">
                                        <li><i class="fa fa-user" aria-hidden="true"></i><a href="#">Mark Fletcher</a>
                                        </li>
                                        <li><i class="fa fa-tags" aria-hidden="true"></i><a href="#">Pin Number</a></li>
                                        <li><i class="fa fa-eye" aria-hidden="true"></i><a href="#">55 Views</a></li>
                                        <li><i class="fa fa-comments" aria-hidden="true"></i><a href="#">22 Comments</a>
                                        </li>
                                    </ul>
                                    <div class="text">
                                        <p>Pleasures and praising pains was born and will give you a completed account
                                            of
                                            the systems seds, and seds expound the actual teaching of the great explorer
                                            the
                                            master-builder Nor again is there anyones who loves or pursues or desires to
                                            obtain pain of itself occasionally circumstance.</p>
                                        <div class="bottom clearfix">
                                            <div class="readmore pull-left">
                                                <a href="blog-single.html">Read More<i class="fa fa-caret-right"
                                                                                       aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End single blog post-->
                        <!--Start single blog post-->
                        <div class="single-blog-item">
                            <div class="img-holder">
                                <img src="{% static 'webapp/images/blog/2.jpg' %}" alt="Awesome Image">
                                <div class=" overlay">
                                    <div class="box">
                                        <div class="content">
                                            <a href="blog-single.html"><i class="fa fa-link"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-holder">
                                <div class="date-box">
                                    <h4>17 jun</h4>
                                </div>
                                <div class="text-box">
                                    <a href="blog-single.html">
                                        <h3 class="blog-title">We offer the best in same day iPhone Repairs
                                            plymouth</h3>
                                    </a>
                                    <ul class="meta-info">
                                        <li><i class="fa fa-user" aria-hidden="true"></i><a href="#">Astley Duminy</a>
                                        </li>
                                        <li><i class="fa fa-tags" aria-hidden="true"></i><a href="#">Full Damage</a>
                                        </li>
                                        <li><i class="fa fa-eye" aria-hidden="true"></i><a href="#">34 Views</a></li>
                                        <li><i class="fa fa-comments" aria-hidden="true"></i><a href="#">16 Comments</a>
                                        </li>
                                    </ul>
                                    <div class="text">
                                        <p>Explain to you how all this mistaken idea of denouncing pleasures sed nor
                                            again is
                                            there anyone who loves or pursues or desires to obtain pain of itself,
                                            because it is
                                            pain, because occasionally circumstances occur in which toil and pain can
                                            procure
                                            him some great pleasure. and praising pain was born and will teachings.</p>
                                        <div class="bottom clearfix">
                                            <div class="readmore pull-left">
                                                <a href="blog-single.html">Read More<i class="fa fa-caret-right"
                                                                                       aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End single blog post-->
                        <!--Start single blog post-->
                        <div class="single-blog-item">
                            <div class="img-holder">
                                <img src="{% static 'webapp/images/blog/3.jpg' %}" alt="Awesome Image">
                                <div class=" overlay">
                                    <div class="box">
                                        <div class="content">
                                            <a href="blog-single.html"><i class="fa fa-link"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-holder">
                                <div class="date-box">
                                    <h4>21 Aug</h4>
                                </div>
                                <div class="text-box">
                                    <a href="blog-single.html">
                                        <h3 class="blog-title">All Software Boxes and Dongles Available At Best
                                            Prices</h3>
                                    </a>
                                    <ul class="meta-info">
                                        <li><i class="fa fa-user" aria-hidden="true"></i><a href="#">Mark Fletcher</a>
                                        </li>
                                        <li><i class="fa fa-tags" aria-hidden="true"></i><a href="#">Pin Number</a></li>
                                        <li><i class="fa fa-eye" aria-hidden="true"></i><a href="#">55 Views</a></li>
                                        <li><i class="fa fa-comments" aria-hidden="true"></i><a href="#">22 Comments</a>
                                        </li>
                                    </ul>
                                    <div class="text">
                                        <p>Pleasures and praising pains was born and will give you a completed account
                                            of the
                                            systems seds, and seds expound the actual teaching of the great explorer the
                                            master-builder Nor again is there anyones who loves or pursues or desires to
                                            obtain pain
                                            of itself occasionally circumstance.</p>
                                        <div class="bottom clearfix">
                                            <div class="readmore pull-left">
                                                <a href="blog-single.html">Read More<i class="fa fa-caret-right"
                                                                                       aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End single blog post-->
                        <!--Start single blog post-->
                        <div class="single-blog-item">
                            <div class="img-holder">
                                <img src="{% static 'webapp/images/blog/4.jpg' %}" alt="Awesome Image">
                                <div class=" overlay">
                                    <div class="box">
                                        <div class="content">
                                            <a href="blog-single.html"><i class="fa fa-link"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-holder">
                                <div class="date-box">
                                    <h4>17 jun</h4>
                                </div>
                                <div class="text-box">
                                    <a href="blog-single.html">
                                        <h3 class="blog-title">Have you dropped your mobile phone & smashed screen?</h3>
                                    </a>
                                    <ul class="meta-info">
                                        <li><i class="fa fa-user" aria-hidden="true"></i><a href="#">Astley Duminy</a>
                                        </li>
                                        <li><i class="fa fa-tags" aria-hidden="true"></i><a href="#">Full Damage</a>
                                        </li>
                                        <li><i class="fa fa-eye" aria-hidden="true"></i><a href="#">34 Views</a></li>
                                        <li><i class="fa fa-comments" aria-hidden="true"></i><a href="#">16 Comments</a>
                                        </li>
                                    </ul>
                                    <div class="text">
                                        <p>Explain to you how all this mistaken idea of denouncing pleasures sed nor
                                            again is there
                                            anyone who loves or pursues or desires to obtain pain of itself, because it
                                            is pain, because
                                            occasionally circumstances occur in which toil and pain can procure him some
                                            great pleasure.
                                            and praising pain was born and will teachings.</p>
                                        <div class="bottom clearfix">
                                            <div class="readmore pull-left">
                                                <a href="blog-single.html">Read More<i class="fa fa-caret-right"
                                                                                       aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End single blog post-->

                        <!--Start post pagination-->
                        <div class="row">
                            <div class="col-md-12">
                                <ul class="post-pagination text-center">
                                    <li><a href="#"><i class="fa fa-caret-left" aria-hidden="true"></i></a></li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <!--End post pagination-->
                    </div>
                </div>
                <!--Start sidebar Wrapper-->
                <div class="col-lg-3 col-md-4 col-sm-7 col-xs-12">
                    <div class="sidebar-wrapper">
                        <!--Start single sidebar-->
                        <div class="single-sidebar">
                            <form class="search-form" action="#">
                                <input placeholder="Поиск..." type="text">
                                <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </form>
                        </div>
                        <!--End single sidebar-->
                        <!--Start single sidebar-->
                        <div class="single-sidebar">
                            <div class="sidebar-title">
                                <h1>Категории</h1>
                            </div>
                            <ul class="categories clearfix">
                                <li>
                                    <a href="#">
                                        Smart Phones
                                        <span class="pull-right"><i class="fa fa-angle-right"
                                                                    aria-hidden="true"></i> </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Desktop & Mac
                                        <span class="pull-right"><i class="fa fa-angle-right"
                                                                    aria-hidden="true"></i> </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Game Console
                                        <span class="pull-right"><i class="fa fa-angle-right"
                                                                    aria-hidden="true"></i> </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Safety & Security
                                        <span class="pull-right"><i class="fa fa-angle-right"
                                                                    aria-hidden="true"></i> </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Uncategorized
                                        <span class="pull-right"><i class="fa fa-angle-right"
                                                                    aria-hidden="true"></i> </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!--End single sidebar-->
                        <!--Start single sidebar-->
                        <div class="single-sidebar">
                            <div class="sidebar-title">
                                <h1>Recent Post</h1>
                            </div>
                            <ul class="recent-post">
                                <li>
                                    <a href="#">
                                        <h5 class="post-title">
                                            We offer the best in same day iPhone Repairs plymouth
                                        </h5>
                                    </a>
                                    <h6 class="post-date">
                                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                                        July 21, 2016
                                    </h6>
                                </li>
                                <li>
                                    <a href="#">
                                        <h5 class="post-title">
                                            iPad Repairs For Schools/Universities Across The Usa
                                        </h5>
                                    </a>
                                    <h6 class="post-date">
                                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                                        March 17, 2016
                                    </h6>
                                </li>
                                <li>
                                    <a href="#">
                                        <h5 class="post-title">
                                            All Software Boxes & Dongles Available At Best Prices
                                        </h5>
                                    </a>
                                    <h6 class="post-date">
                                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                                        January 10, 2016
                                    </h6>
                                </li>

                            </ul>
                        </div>
                        <!--End single sidebar-->
                        <!--Start single-sidebar-->
                        <div class="single-sidebar">
                            <div class="sidebar-title">
                                <h1>Blog Archives</h1>
                            </div>
                            <ul class="blog-archive">
                                <li><a href="#">August 2013 (5)</a></li>
                                <li><a href="#">December 2013 (8)</a></li>
                                <li><a href="#">January 2014 (4)</a></li>
                                <li><a href="#">September 2014 (9)</a></li>
                            </ul>
                        </div>
                        <!--End single-sidebar-->
                        <!--Start single-sidebar-->
                        <div class="single-sidebar popular-tag">
                            <div class="sidebar-title">
                                <h1>Popular Tags</h1>
                            </div>
                            <ul class="popular-tag">
                                <li><a href="#">Safe</a></li>
                                <li><a href="#">Phones</a></li>
                                <li><a href="#">Pc&Laptops</a></li>
                                <li><a href="#">Game Disk</a></li>
                                <li><a href="#">Ideas</a></li>
                                <li><a href="#">Repair</a></li>
                                <li><a href="#">Processor</a></li>
                                <li><a href="#">Unlocked</a></li>
                                <li><a href="#">Software</a></li>
                                <li><a href="#">TV</a></li>
                                <li><a href="#">LED Screen</a></li>
                            </ul>
                        </div>
                        <!--End single-sidebar-->
                        <!--Start single-sidebar-->
                        <div class="single-sidebar facebook">
                            <div class="sidebar-title">
                                <h1>Facebook</h1>
                            </div>
                            <div class="follow-us-content">
                                <img src="{% static 'webapp/images/sidebar/fb-follow-us.jpg' %}"
                                     alt="Awesome Follow Us Image">
                            </div>
                        </div>
                        <!--End single-sidebar-->
                    </div>
                </div>
                <!--End Sidebar Wrapper-->
            </div>
        </div>
    </section>
    <!--End blog area-->

{% endblock %}