{% extends 'main/base.html' %}
{% load static %}


{% block content %}

    <!--Start breadcrumb area-->
    <section class="breadcrumb-area" style="background-image: url('{% if contact_banner_image %}{{ contact_banner_image.url }}{% else %}{% static 'webapp/images/blog/ecu_bredcrumps.jpg' %}{% endif %}');">
        <div class="container text-center">
            <h1>Наши Новости</h1>
        </div>
    </section>

<!--Start breadcrumb bottom area-->
<section class="breadcrumb-botton-area">
    <div class="container">
        <div class="left pull-left">
            <ul>
                <li><a href="{% url 'webapp:home' %}">Главная</a></li>
                <li><i class="fa fa-caret-right" aria-hidden="true"></i></li>
                <li><a href="{% url 'blog:blog' %}">Блог</a></li>
                <li><i class="fa fa-caret-right" aria-hidden="true"></i></li>
                <li>Новость</li>
            </ul>    
        </div>
        <div class="right pull-right">
            <a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i>Share</a>
        </div>  
    </div>
</section>
<!--End breadcrumb bottom area-->

<!--Start blog single area-->
<section id="blog-area" class="blog-single-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
                <div class="blog-post">
                    {% for main_news in news %}
                    <!--Start single blog post-->
                    <div class="single-blog-item">
                        <div class="img-holder">
                            <img src="{{ main_news.photo.url }}" alt="Awesome Image">
                        </div>
                        <div class="text-holder">
                            <div class="date-box">
                                <h4>{{ main_news.pub_date.day }} {{ main_news.pub_date|date:"M" }}</h4>
                            </div>
                            <div class="text-box">
                                <h3 class="blog-title">{{ main_news.title }}</h3>
                                <ul class="meta-info">
                                    <li><i class="fa fa-user" aria-hidden="true"></i><a href="#">{{ main_news.author }}</a></li>
                                </ul>
                                <div class="text">
                                    <p class="mar-bottom">{{ main_news.description_small | safe }}</p>
                                    <p>{{ main_news.description | safe }}</p>
                                </div>
                            </div>
                            
                            <!--Start middle content box-->
                            <div class="middle-content-box">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="img-holder">
                                            <img src="{{ main_news.author_photo.url }}" alt="Awesome Image">
                                        </div>
                                        <div class="text-holder">
                                            <p>{{ main_news.comment | safe }}</p>
                                            <h3>{{ main_news.author }}</h3>
                                            <h5>{{ main_news.comment_author }}</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End middle content box-->
                            <!--Start bottom content box-->
                            <div class="bottom-content-box">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="text">
                                            <p>{{ main_news.location }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End bottom content box-->
                            <!--Start tag and social share box-->
                            <div class="tag-social-share-box">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="tag pull-left">
                                            <p><span>Тэги: </span> Ремонт, Электротранспорт, Батарея</p>
                                        </div>
                                        <div class="social-share pull-right">
                                            <h5>Поделиться<i class="fa fa-share-alt" aria-hidden="true"></i></h5>
                                            <ul class="social-share-links">
                                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End tag and social share box-->
                            <!--Start author box-->
                            <div class="author-box">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="img-holder">
                                            <img src="{{ main_news.logo_photo.url}}" alt="Awesome Image">
                                        </div>
                                        <div class="text-holder">
                                            <h3>{{ main_news.author }}</h3>
                                            <p>{{ main_news.description_company | safe }}</p>
                                            <ul class="social-link">
                                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End author box-->
                        </div>    
                    </div>
                    <!--End single blog post-->
                    {% endfor %}
                </div>
            </div>
            <!--Start sidebar Wrapper-->
            <div class="col-lg-3 col-md-4 col-sm-7 col-xs-12">
                <div class="sidebar-wrapper">
                    <!--Start single sidebar-->
                    <div class="single-sidebar">
                        <form class="search-form" action="#">
							<input placeholder="Поиск..." type="text">
							<button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
						</form>
                    </div>
                    <!--End single sidebar-->

                    <!--Start single sidebar-->
                    <div class="single-sidebar">
                        <div class="sidebar-title">
                            <h1>Наши Услуги</h1>
                        </div>
                        {% for main_services in our_services|slice:":5" %}
                        <ul class="categories clearfix">
                            <li>
                                <a href="{{ main_services.link }}">
                                    {{ main_services.name|truncatechars:25 }}
                                    <span class="pull-right"><i class="fa fa-angle-right" aria-hidden="true"></i> </span>
                                </a>
                            </li>
                        </ul>
                        {% endfor %}
                    </div>
                    <!--End single sidebar-->

                    <!--Start single sidebar--> 
                    <div class="single-sidebar">
                        <div class="sidebar-title">
                            <h1>Последние Новости</h1>
                        </div>
                        {% for main_latest_news in news_blog_main|slice:":5" %}
                        <ul class="recent-post">
                            <li>
                                <a href="{% url 'blog:single' pk=main_latest_news.id %}">
                                    <h5 class="post-title">
                                        {{ main_latest_news.title }}
                                    </h5>
                                </a>
                                <h6 class="post-date">
                                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                                    {{ main_latest_news.pub_date }}
                                </h6>
                            </li>
                        </ul>
                        {% endfor %}
                    </div>
                    <!--End single sidebar-->

                    <!--Start single-sidebar-->
                    <div class="single-sidebar popular-tag">
                        <div class="sidebar-title">
                            <h1>Популярные теги</h1>
                        </div>
                        <ul class="popular-tag">
                            <li><a href="#">Электроника</a></li>
                            <li><a href="#">Транспорт</a></li>
                            <li><a href="#">Блоки Эбу</a></li>
                            <li><a href="#">SPS4</a></li>
                            <li><a href="#">Батарея</a></li>
                            <li><a href="#">Датчики</a></li>
                            <li><a href="#">Процессор</a></li>
                            <li><a href="#">Залило водой</a></li>
                            <li><a href="#">Чип</a></li>
                            <li><a href="#">Телевизор</a></li>
                            <li><a href="#">Преобразователи</a></li>
                        </ul>      
                    </div> 
                    <!--End single-sidebar-->

                    <!-- Start single-sidebar -->
                    <div class="single-sidebar facebook">
                        <div class="sidebar-title">
                            <h1>Наша инста</h1>
                        </div>
                        <div class="follow-us-content">
                            <a href="https://www.instagram.com/smart_service_novopolock/">
                                <img src="{% static 'webapp/images/resources/ecu_insta.jpg' %}"
                                     alt="Awesome Follow Us Image">
                            </a>
                        </div>
                    </div>
                    <!-- End single-sidebar -->

                </div>    
            </div>
            <!--End Sidebar Wrapper-->  
        </div>
    </div>
</section> 
<!--End blog single area-->

{% endblock %}
