{% extends 'main/base.html' %}
{% load static %}


{% block content %}
<!--Start breadcrumb area-->     
<section class="breadcrumb-area">
	<div class="container text-center">
		<h1>News Single</h1>
	</div>
</section>
<!--End breadcrumb area-->

<!--Start breadcrumb bottom area-->
<section class="breadcrumb-botton-area">
    <div class="container">
        <div class="left pull-left">
            <ul>
                <li><a href="../../../webapp/templates/webapp/index.html">Home</a></li>
                <li><i class="fa fa-caret-right" aria-hidden="true"></i></li>
                <li><a href="blog-single.html">News</a></li>
                <li><i class="fa fa-caret-right" aria-hidden="true"></i></li>
                <li>News Single</li>
            </ul>    
        </div>
        <div class="right pull-right">
            <a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i>Share</a>
        </div>  
    </div>
</section>
<!--End breadcrumb bottom area-->

<!--Start blog single area-->
<section id="blog-area" class="blog-single-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
                <div class="blog-post">
                    <!--Start single blog post-->
                    <div class="single-blog-item">
                        <div class="img-holder">
                            <img src="{% static 'blog/images/blog/1.jpg' %}" alt="Awesome Image">
                        </div>
                        <div class="text-holder">
                            <div class="date-box">
                                <h4>21 Aug</h4>
                            </div>
                            <div class="text-box">
                                <h3 class="blog-title">iPad Repairs For Schools/Universities Across The Usa</h3>
                                <ul class="meta-info">
                                    <li><i class="fa fa-user" aria-hidden="true"></i><a href="#">Mark Fletcher</a></li>
                                    <li><i class="fa fa-tags" aria-hidden="true"></i><a href="#">Pin Number</a></li>
                                    <li><i class="fa fa-eye" aria-hidden="true"></i><a href="#">55 Views</a></li>
                                    <li><i class="fa fa-comments" aria-hidden="true"></i><a href="#">22 Comments</a></li>
                                </ul>
                                <div class="text">
                                    <p class="mar-bottom">We denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charm pleasure of the moment, so blinded by desire, that they cannot foresee the pain ut and trouble that are bound to ensue and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying uts through shrinking from toil and pain  These cases are perfectly simple and easy to distinguish.</p>
                                    <p>Pleasures and praising pains was born and will give you a completed account of the systems seds, and seds expound the actual teaching of the great explorer the master-builder  Nor again is there anyones who loves or pursues desires to obtain pain of itself, because it is pain, but because occasionally.</p>
                                    
                                </div>
                            </div>
                            
                            <!--Start middle content box-->
                            <div class="middle-content-box">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="img-holder">
                                            <img src="{% static 'webapp/images/blog/caption-img.jpg' %}" alt="Awesome Image">
                                        </div>
                                        <div class="text-holder">
                                            <p>They have got my project on time with the competition seds with a highly skilled, well-organized and seds denouncing of pleasures experienced team of professional.</p>
                                            <h3>Dohn Gaskel</h3>
                                            <h5>Manager</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End middle content box-->
                            <!--Start bottom content box-->
                            <div class="bottom-content-box">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="text">
                                            <p>know how to pursue pleasure rationally encounter consequences that are extremely painful or again is there anyone who loves or pursues or desires to obtain pain of itself, because it pain, but because occasionally circumstances occur which toil and pain can  undertakes laborious physical exercise.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End bottom content box-->
                            <!--Start tag and social share box-->
                            <div class="tag-social-share-box">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="tag pull-left">
                                            <p><span>Tags:</span> Repair, Processor, LED Screen</p>
                                        </div>
                                        <div class="social-share pull-right">
                                            <h5>Share<i class="fa fa-share-alt" aria-hidden="true"></i></h5>
                                            <ul class="social-share-links">
                                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End tag and social share box-->
                            <!--Start author box-->
                            <div class="author-box">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="img-holder">
                                            <img src="{% static 'webapp/images/blog/author.jpg' %}" alt="Awesome Image">
                                        </div>
                                        <div class="text-holder">
                                            <h3>Mark Richardson</h3>
                                            <p>We will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.</p>
                                            <ul class="social-link">
                                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End author box-->
                            <!--Start comment box-->
                            <div class="comment-box">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="title">
                                            <h3>Comments (2)</h3>
                                        </div>
                                        <!--Start single comment box-->
                                        <div class="single-comment-box">
                                            <div class="img-holder">
                                                <img src="{% static 'webapp/images/blog/comment-1.jpg' %}" alt="Awesome Image">
                                            </div>
                                            <div class="text-holder">
                                                <div class="top">
                                                    <div class="date pull-left">
                                                        <h5>Steven Rich – Sep 17, 2016:</h5>
                                                    </div>
                                                    <div class="review-box pull-right">
                                                        <ul>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="text">
                                                    <p>How all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!--End single comment box-->
                                        <!--Start single comment box-->
                                        <div class="single-comment-box">
                                            <div class="img-holder">
                                                <img src="{% static 'webapp/images/blog/comment-2.jpg' %}" alt="Awesome Image">
                                            </div>
                                            <div class="text-holder">
                                                <div class="top">
                                                    <div class="date pull-left">
                                                        <h5>William Cobus – Aug 21, 2016:</h5>
                                                    </div>
                                                    <div class="review-box pull-right">
                                                        <ul>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star-half-o"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="text">
                                                    <p>There anyone who loves or pursues or desires to obtain pain itself, because it is pain, because occasionally circumstances occur some great pleasure.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!--End single comment box-->
                                    </div>
                                </div>
                            </div>
                            <!--End comment box-->
                            <!--Start add comment box-->
                            <div class="add-comment-box">
                                <div class="title">
                                    <h3>Add Your Comments</h3>
                                </div>
                                <div class="add-rating-box">
                                    <h4>Your Rating</h4>
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-star"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>   
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <form class="add-comment-form" action="#">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="field-label">First Name*</div>
                                                    <input type="text" name="fname" placeholder="">
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="field-label">Last Name*</div>
                                                    <input type="text" name="lname" placeholder="">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="field-label">Email*</div>
                                                    <input type="text" name="email" placeholder="">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="field-label">Your Comments*</div>
                                                    <textarea name="comment"></textarea>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <button class="thm-btn bg-1" type="submit">Submit Now</button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!--End add comment box-->
                        </div>    
                    </div>
                    <!--End single blog post-->
                </div>
            </div>
            <!--Start sidebar Wrapper-->
            <div class="col-lg-3 col-md-4 col-sm-7 col-xs-12">
                <div class="sidebar-wrapper">
                    <!--Start single sidebar-->
                    <div class="single-sidebar">
                        <form class="search-form" action="#">
							<input placeholder="Search..." type="text">
							<button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
						</form>
                    </div>
                    <!--End single sidebar-->
                    <!--Start single sidebar-->
                    <div class="single-sidebar">
                        <div class="sidebar-title">
                            <h1>Categories</h1>
                        </div>
                        <ul class="categories clearfix">
                            <li>
                                <a href="#">
                                    Smart Phones 
                                    <span class="pull-right"><i class="fa fa-angle-right" aria-hidden="true"></i> </span>
                                </a>
                            </li>
                            <li>
                                <a href="#"> 
                                    Desktop & Mac
                                    <span class="pull-right"><i class="fa fa-angle-right" aria-hidden="true"></i> </span>
                                </a>
                            </li>  
                            <li>
                                <a href="#">
                                    Game Console 
                                    <span class="pull-right"><i class="fa fa-angle-right" aria-hidden="true"></i> </span>
                                </a>
                            </li>  
                            <li>
                                <a href="#">
                                    Safety & Security 
                                    <span class="pull-right"><i class="fa fa-angle-right" aria-hidden="true"></i> </span>
                                </a>
                            </li>  
                            <li>
                                <a href="#">
                                    Uncategorized 
                                    <span class="pull-right"><i class="fa fa-angle-right" aria-hidden="true"></i> </span>
                                </a>
                            </li>     
                        </ul>
                    </div>
                    <!--End single sidebar-->
                    <!--Start single sidebar--> 
                    <div class="single-sidebar">
                        <div class="sidebar-title">
                            <h1>Recent Post</h1>
                        </div>
                        <ul class="recent-post">
                            <li>
                                <a href="#">
                                    <h5 class="post-title">
                                        We offer the best in same day iPhone Repairs plymouth
                                    </h5>
                                </a>
                                <h6 class="post-date">
                                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                                    July 21, 2016
                                </h6>
                            </li>
                            <li>
                                <a href="#">
                                    <h5 class="post-title">
                                        iPad Repairs For Schools/Universities Across The Usa
                                    </h5>
                                </a>
                                <h6 class="post-date">
                                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                                    March 17, 2016
                                </h6>
                            </li>
                            <li>
                                <a href="#">
                                    <h5 class="post-title">
                                        All Software Boxes & Dongles Available At Best Prices
                                    </h5>
                                </a>
                                <h6 class="post-date">
                                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                                    January 10, 2016
                                </h6>
                            </li>
                           
                        </ul>
                    </div>
                    <!--End single sidebar-->
                    <!--Start single-sidebar-->
                    <div class="single-sidebar">
                        <div class="sidebar-title">
                            <h1>Blog Archives</h1>   
                        </div>
                        <ul class="blog-archive">
                            <li><a href="#">August 2013  (5)</a></li>
                            <li><a href="#">December 2013  (8)</a></li>
                            <li><a href="#">January 2014  (4)</a></li>
                            <li><a href="#">September 2014  (9)</a></li>
                        </ul>    
                    </div> 
                    <!--End single-sidebar-->
                    <!--Start single-sidebar-->
                    <div class="single-sidebar popular-tag">
                        <div class="sidebar-title">
                            <h1>Popular Tags</h1> 
                        </div>
                        <ul class="popular-tag">
                            <li><a href="#">Safe</a></li>
                            <li><a href="#">Phones</a></li>
                            <li><a href="#">Pc&Laptops</a></li>
                            <li><a href="#">Game Disk</a></li>
                            <li><a href="#">Ideas</a></li>
                            <li><a href="#">Repair</a></li>
                            <li><a href="#">Processor</a></li>
                            <li><a href="#">Unlocked</a></li>
                            <li><a href="#">Software</a></li>
                            <li><a href="#">TV</a></li>
                            <li><a href="#">LED Screen</a></li>
                        </ul>      
                    </div> 
                    <!--End single-sidebar-->
                    <!--Start single-sidebar-->
                    <div class="single-sidebar facebook">
                        <div class="sidebar-title">
                            <h1>Facebook</h1>  
                        </div>
                        <div class="follow-us-content">
                            <img src="{% static 'webapp/images/sidebar/fb-follow-us.jpg' %}" alt="Awesome Follow Us Image">
                        </div>        
                    </div> 
                    <!--End single-sidebar-->
                </div>    
            </div>
            <!--End Sidebar Wrapper-->  
        </div>
    </div>
</section> 
<!--End blog single area-->

{% endblock %}
