{% extends 'main/base.html' %}
{% load static %}


{% block content %}

    <!--Start breadcrumb area-->
    <section class="breadcrumb-area" style="background-image: url('{% if contact_banner_image %}{{ contact_banner_image.url }}{% else %}{% static 'webapp/images/blog/ecu_bredcrumps.jpg' %}{% endif %}');">
        <div class="container text-center">
            <h1>Наши Новости</h1>
        </div>
    </section>

<!--Start breadcrumb bottom area-->
<section class="breadcrumb-botton-area">
    <div class="container">
        <div class="left pull-left">
            <ul>
                <li><a href="{% url 'webapp:home' %}">Главная</a></li>
                <li><i class="fa fa-caret-right" aria-hidden="true"></i></li>
                <li><a href="{% url 'blog:blog' %}">Блог</a></li>
                <li><i class="fa fa-caret-right" aria-hidden="true"></i></li>
                <li>Новость</li>
            </ul>    
        </div>
        <div class="right pull-right">
            <a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i>Share</a>
        </div>  
    </div>
</section>
<!--End breadcrumb bottom area-->

<!--Start blog single area-->
<section id="blog-area" class="blog-single-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
                <div class="blog-post">
                    {% for main_news in news_blog_main %}
                    <!--Start single blog post-->
                    <div class="single-blog-item">
                        <div class="img-holder">
                            <img src="{{ main_news.photo.url }}" alt="Awesome Image">
                        </div>
                        <div class="text-holder">
                            <div class="date-box">
                                <h4>{{ main_news.pub_date.day }} {{ main_news.pub_date|date:"M" }}</h4>
                            </div>
                            <div class="text-box">
                                <h3 class="blog-title">{{ main_news.title }}</h3>
                                <ul class="meta-info">
                                    <li><i class="fa fa-user" aria-hidden="true"></i><a href="#">{{ main_news.author }}</a></li>
                                </ul>
                                <div class="text">
                                    <p class="mar-bottom">{{ main_news.description_small | safe }}</p>
                                    <p>{{ main_news.description | safe }}</p>
                                </div>
                            </div>
                            
                            <!--Start middle content box-->
                            <div class="middle-content-box">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="img-holder">
                                            <img src="{{ main_news.author_photo.url }}" alt="Awesome Image">
                                        </div>
                                        <div class="text-holder">
                                            <p>{{ main_news.comment }}</p>
                                            <h3>{{ main_news.author }}</h3>
                                            <h5>{{ main_news.comment_author }}</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End middle content box-->
                            <!--Start bottom content box-->
                            <div class="bottom-content-box">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="text">
                                            <p>{{ main_news.location }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End bottom content box-->
                            <!--Start tag and social share box-->
                            <div class="tag-social-share-box">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="tag pull-left">
                                            <p><span>Тэги: </span> Ремонт, Электротранспорт, Батарея</p>
                                        </div>
                                        <div class="social-share pull-right">
                                            <h5>Поделиться<i class="fa fa-share-alt" aria-hidden="true"></i></h5>
                                            <ul class="social-share-links">
                                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End tag and social share box-->
                            <!--Start author box-->
                            <div class="author-box">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="img-holder">
                                            <img src="{{ main_news.logo_photo.url}}" alt="Awesome Image">
                                        </div>
                                        <div class="text-holder">
                                            <h3>{{ main_news.author }}</h3>
                                            <p>{{ main_news.description_company | safe }}</p>
                                            <ul class="social-link">
                                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End author box-->
                        </div>    
                    </div>
                    <!--End single blog post-->
                    {% endfor %}
                </div>
            </div>
            <!--Start sidebar Wrapper-->
            <div class="col-lg-3 col-md-4 col-sm-7 col-xs-12">
                <div class="sidebar-wrapper">
                    <!--Start single sidebar-->
                    <div class="single-sidebar">
                        <form class="search-form" action="#">
							<input placeholder="Search..." type="text">
							<button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
						</form>
                    </div>
                    <!--End single sidebar-->
                    <!--Start single sidebar-->
                    <div class="single-sidebar">
                        <div class="sidebar-title">
                            <h1>Наши Услуги</h1>
                        </div>
                        <ul class="categories clearfix">
                            <li>
                                <a href="#">
                                    Smart Phones 
                                    <span class="pull-right"><i class="fa fa-angle-right" aria-hidden="true"></i> </span>
                                </a>
                            </li>
                            <li>
                                <a href="#"> 
                                    Desktop & Mac
                                    <span class="pull-right"><i class="fa fa-angle-right" aria-hidden="true"></i> </span>
                                </a>
                            </li>  
                            <li>
                                <a href="#">
                                    Game Console 
                                    <span class="pull-right"><i class="fa fa-angle-right" aria-hidden="true"></i> </span>
                                </a>
                            </li>  
                            <li>
                                <a href="#">
                                    Safety & Security 
                                    <span class="pull-right"><i class="fa fa-angle-right" aria-hidden="true"></i> </span>
                                </a>
                            </li>  
                            <li>
                                <a href="#">
                                    Uncategorized 
                                    <span class="pull-right"><i class="fa fa-angle-right" aria-hidden="true"></i> </span>
                                </a>
                            </li>     
                        </ul>
                    </div>
                    <!--End single sidebar-->
                    <!--Start single sidebar--> 
                    <div class="single-sidebar">
                        <div class="sidebar-title">
                            <h1>Recent Post</h1>
                        </div>
                        <ul class="recent-post">
                            <li>
                                <a href="#">
                                    <h5 class="post-title">
                                        We offer the best in same day iPhone Repairs plymouth
                                    </h5>
                                </a>
                                <h6 class="post-date">
                                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                                    July 21, 2016
                                </h6>
                            </li>
                            <li>
                                <a href="#">
                                    <h5 class="post-title">
                                        iPad Repairs For Schools/Universities Across The Usa
                                    </h5>
                                </a>
                                <h6 class="post-date">
                                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                                    March 17, 2016
                                </h6>
                            </li>
                            <li>
                                <a href="#">
                                    <h5 class="post-title">
                                        All Software Boxes & Dongles Available At Best Prices
                                    </h5>
                                </a>
                                <h6 class="post-date">
                                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                                    January 10, 2016
                                </h6>
                            </li>
                           
                        </ul>
                    </div>
                    <!--End single sidebar-->
                    <!--Start single-sidebar-->
                    <div class="single-sidebar">
                        <div class="sidebar-title">
                            <h1>Blog Archives</h1>   
                        </div>
                        <ul class="blog-archive">
                            <li><a href="#">August 2013  (5)</a></li>
                            <li><a href="#">December 2013  (8)</a></li>
                            <li><a href="#">January 2014  (4)</a></li>
                            <li><a href="#">September 2014  (9)</a></li>
                        </ul>    
                    </div> 
                    <!--End single-sidebar-->
                    <!--Start single-sidebar-->
                    <div class="single-sidebar popular-tag">
                        <div class="sidebar-title">
                            <h1>Popular Tags</h1> 
                        </div>
                        <ul class="popular-tag">
                            <li><a href="#">Safe</a></li>
                            <li><a href="#">Phones</a></li>
                            <li><a href="#">Pc&Laptops</a></li>
                            <li><a href="#">Game Disk</a></li>
                            <li><a href="#">Ideas</a></li>
                            <li><a href="#">Repair</a></li>
                            <li><a href="#">Processor</a></li>
                            <li><a href="#">Unlocked</a></li>
                            <li><a href="#">Software</a></li>
                            <li><a href="#">TV</a></li>
                            <li><a href="#">LED Screen</a></li>
                        </ul>      
                    </div> 
                    <!--End single-sidebar-->
                    <!--Start single-sidebar-->
                    <div class="single-sidebar facebook">
                        <div class="sidebar-title">
                            <h1>Facebook</h1>  
                        </div>
                        <div class="follow-us-content">
                            <img src="{% static 'webapp/images/sidebar/fb-follow-us.jpg' %}" alt="Awesome Follow Us Image">
                        </div>        
                    </div> 
                    <!--End single-sidebar-->
                </div>    
            </div>
            <!--End Sidebar Wrapper-->  
        </div>
    </div>
</section> 
<!--End blog single area-->

{% endblock %}
