{% extends 'main/base.html' %}
{% load static %}


{% block content %}
<!--Start breadcrumb area-->     
<section class="breadcrumb-area">
	<div class="container text-center">
		<h1>Page Does Not Exist</h1>
	</div>
</section>
<!--End breadcrumb area-->

<!--Start breadcrumb bottom area-->
<section class="breadcrumb-botton-area">
    <div class="container">
        <div class="left pull-left">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><i class="fa fa-caret-right" aria-hidden="true"></i></li>
                <li>404</li>
            </ul>    
        </div>
        <div class="right pull-right">
            <a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i>Share</a>
        </div>  
    </div>
</section>
<!--End breadcrumb bottom area-->

<!--Start 404 area-->
<section class="not-found-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="not-found-content text-center">
                    <h1>404</h1>
                    <h3>OOPPS! THE PAGE YOU WERE LOOKING FOR, COULDN'T BE FOUND.</h3>
                    <p>Try the search below to find matching pages:</p>
                    <form class="search-form" action="#">
				        <input placeholder="Search..." type="text">
				        <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
				    </form>
                </div>
            </div>
        </div>
    </div>
</section> 
<!--End 404 area-->
{% endblock %}
