{% extends 'main/base.html' %}
{% load static %}


{% block content %}

    <!--Start breadcrumb area-->
    <section class="breadcrumb-area-cover" style="background-image: url('{% if contact_banner_image %}{{ contact_banner_image.url }}{% else %}{% static 'webapp/images/resources/ecu_nano5.jpg' %}{% endif %}');">
        <div class="container text-center">
            <h1>О Нас</h1>
        </div>
    </section>

    <!--Start breadcrumb bottom area-->
    <section class="breadcrumb-botton-area">
        <div class="container">
            <div class="left pull-left">
                <ul>
                    <li><a href="{% url 'webapp:home' %}">На Главную</a></li>
                    <li><i class="fa fa-caret-right" aria-hidden="true"></i></li>
                    <li>О Нас</li>
                </ul>
            </div>
        </div>
    </section>
    <!--End breadcrumb bottom area-->

    <!--Start video gallery area-->
    <section class="video-gallery-area">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="text-holder">
                        <h2>"ECU Service."</h2>
                        <div class="top-text">
                            <p>Оказываем услуги по восстановлению Промышленной Электроники,
                                Ремонту Блоков Управления Двигателя
                                для автомобилей ЛЮБОЙ МАРКИ и
                                Грузового Транспорта в том числе!

                                А также занимаемся обслуживанием и восстановленем электротранспорта.</p>
                        </div>
                        <div class="bottom-text">
                            <p>В наше время, промышленное производство немыслимо без использования современных систем электронного управления и сложных технологических механизмов. Но даже самое передовое оборудование, подвергаясь постоянным нагрузкам, требует регулярного обслуживания и ремонта. Однако обращение в дилерские центры производителей зачастую становится дорогостоящим решением, не всегда приносящим ожидаемые результаты.

Наша компания специализируется на ремонте приводной техники, промышленного оборудования и электроники. Мы предлагаем комплексные услуги по восстановлению и ремонту различной сложной электроники на уровне компонентов. Наша команда готова решать как простые, так и самые сложные задачи по восстановлению промышленной электроники и автоматики. Мы беремся за ремонт устройств любой мощности и комплектности, включая устройства, снятые с производства, без технической документации и схем подключения.

Наши специалисты помогут вам снизить нагрузку на оборудование, оптимизировать энергопотребление и предотвратить перегрев и перегрузку производственного оборудования. Мы также предлагаем консультации по выбору, подключению и настройке промышленного электронного оборудования.

Наши услуги помогут вам избежать неприятных простоев и сбоев в работе оборудования, а также существенно сэкономить средства и время, что является важным фактором в любой промышленности.

Мы оказываем услуги не только в городах Полоцк и Новополоцк, но и по всей Витебской области и в других регионах Беларуси. Доставка осуществляется транспортными компаниями, а также мы можем выезжать к вам на объект (условия обсуждаются индивидуально).</p>
                            <div class="certified-logo">
                                <img src="{% static 'webapp/images/resources/certified-logo.png' %}"
                                     alt="Certified Logo">
                            </div>
                        </div>
                        <div class="signature">
                            <img src="{% static 'webapp/images/resources/signature.png' %}" alt="Signature">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="video-gallery">
                        <img src="{% static 'webapp/images/resources/video-gallery.jpg' %}" alt="Awesome Video Gallery">
                        <div class="overlay-gallery">
                            <div class="icon-holder">
                                <div class="icon">
                                    <a class="html5lightbox" title="RepairPlus Gallery"
                                       href="https://www.youtube.com/watch?v=KssOT2QVg-M"><img
                                            src="{% static 'webapp/images/icon/play-btn.png' %}" alt="Play Button"/></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--End video gallery area-->

    <!--*Mail Form*-->
    <section class="call-to-action-area-mailform services-area">
        <div class="container">
            <div class="row">
                <!--*Newsletter*-->
                <div id="newsletter">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6 col-xs-12">
                                <div class="news-content">
                                    <img src="{% static 'webapp/images/resources/ecu_service_logo1.png' %}"
                                         class="img-fixed-size-for-mailform" alt="Awesome Logo">
                                    <h2>Бесплатная Консультация</h2>
                                    <p class="beige"><b>НАПИШИТЕ НАМ И В ТЕЧЕНИИ 10 МНУТ МЫ С ВАМИ СВЯЖЕМСЯ.</b></p>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <div class="mailpoet_form">
                                    <form target="_self" method="post" action="{% url 'webapp:contact' %}"
                                          novalidate="">
                                        {% csrf_token %}
                                        <input type="text" class="mailpoet_text" name="name"
                                               placeholder="Введите Ваше Имя">
                                        <input type="email" class="mailpoet_text" name="email" title="Email"
                                               placeholder="Введите Ваш Телефон">
                                        <input type="text" class="mailpoet_text" name="description"
                                               placeholder="Опишите проблему">
                                        <div class="button">
                                            <input type="submit" class="mailpoet_submit" value="Отправить Сообщение">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--*End Newsletter*-->
            </div>
        </div>
    </section>
    <!--*END MAIL FORM*-->

    <!--Start core value area-->
    <section class="core-value-area">
        <div class="container">
            <div class="row">
                <div class="col-md-8 content pull-right">
                    <div class="text-holder">
                        <div class="sec-title-two">
                            <h1>Наши Приемущества</h1>
                            <span class="border"></span>
                        </div>
                        <div class="row">
                            <!--Start single item-->
                            <div class="col-md-6">
                                <div class="single-item">
                                    <div class="icon-box">
                                        <span class="flaticon-thumb-up"></span>
                                    </div>
                                    <div class="text-box">
                                        <h3>Безупречная Репутация</h3>
                                        <p>Мы гордимся своей долголетней историей успешных проектов и довольных клиентов,
                                            что подтверждает нашу надежность и профессионализм.</p>
                                    </div>
                                </div>
                            </div>
                            <!--End single item-->
                            <!--Start single item-->
                            <div class="col-md-6">
                                <div class="single-item">
                                    <div class="icon-box">
                                        <span class="flaticon-star"></span>
                                    </div>
                                    <div class="text-box">
                                        <h3>Высокое качество Услуг</h3>
                                        <p>Работаем только с проверенными запчастями и передовыми технологиями,
                                            что гарантирует надежность и долговечность наших ремонтных работ.</p>
                                    </div>
                                </div>
                            </div>
                            <!--End single item-->
                        </div>
                        <div class="row">
                            <!--Start single item-->
                            <div class="col-md-6">
                                <div class="single-item">
                                    <div class="icon-box">
                                        <span class="fa fa-money"></span>
                                    </div>
                                    <div class="text-box">
                                        <h3>Конкурентные Цены</h3>
                                        <p>Наша политика ценообразования основана на честности и прозрачности,
                                            что позволяет нам предлагать конкурентоспособные тарифы и гибкую систему скидок.</p>
                                    </div>
                                </div>
                            </div>
                            <!--End single item-->
                            <!--Start single item-->
                            <div class="col-md-6">
                                <div class="single-item">
                                    <div class="icon-box">
                                        <span class="fa fa-cogs"></span>
                                    </div>
                                    <div class="text-box">
                                        <h3>Глубокое Понимание Технологий</h3>
                                        <p>Наши специалисты обладают высокой экспертизой в области промышленной электроники и автоматики,
                                            что позволяет нам эффективно решать самые сложные задачи.</p>
                                    </div>
                                </div>
                            </div>
                            <!--End single item-->
                        </div>

                    </div>
                </div>
                <div class="col-md-4 image pull-left">
                    <div class="img-holder">
                        <img src="{% static 'webapp/images/resources/ecu_priemushestva.jpg' %}" alt="Awesome Image">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End core value area-->

    <!--Start working process area-->
    <section class="working-process-area background-image-process">
        <div class="container">
            <div class="sec-title text-center sec-title-proces">
                <h1>Процесс Работы</h1>
            </div>
            <div class="row">
                <!--Start single item-->
                {% for main_proccesses in main_process %}
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="single-iten text-center">
                            <div class="img-box dasded">
                                <img src="{{ main_proccesses.photo.url }}" alt="Awesome Image"
                                     class="img-fixed-size-proccess">
                                <div class="count">
                                    <h3>{{ main_proccesses.steps }}</h3>
                                </div>
                            </div>
                            <div class="text-box sec-title-proces">
                                <h2>{{ main_proccesses.name }}</h2>
                                <p>{{ main_proccesses.description | safe }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <!--End single item-->
            </div>
        </div>
    </section>
    <!--End working process area-->

    <!--Start fact counter area-->
    <section class="fact-counter-area background-image-process">
        <div class="container">
            <div class="row">
                <!--Start single item-->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single-item text-center">
                        <h1><span class="timer" data-from="1" data-to="1997 " data-speed="5000"
                                  data-refresh-interval="50">21</span><i class="fa fa-calendar-plus-o"
                                                                         aria-hidden="true"></i></h1>
                        <span class="border"></span>
                        <h3>Ремонтируем Электронику</h3>
                    </div>
                </div>
                <!--End single item-->
                <!--Start single item-->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single-item text-center">
                        <h1><span class="timer" data-from="1" data-to="300" data-speed="5000"
                                  data-refresh-interval="50">146</span><i class="fa fa-plus" aria-hidden="true"></i>
                        </h1>
                        <span class="border"></span>
                        <h3>Блоков Эбу</h3>
                    </div>
                </div>
                <!--End single item-->
                <!--Start single item-->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single-item text-center">
                        <h1><span class="timer" data-from="1" data-to="1000" data-speed="5000"
                                  data-refresh-interval="50">853</span><i class="fa fa-plus" aria-hidden="true"></i>
                        </h1>
                        <span class="border"></span>
                        <h3>Электро Транспорт</h3>
                    </div>
                </div>
                <!--End single item-->
                <!--Start single item-->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single-item text-center">
                        <h1><span class="timer" data-from="1" data-to="100" data-speed="5000"
                                  data-refresh-interval="50">2381</span><i class="fa fa-puzzle-piece"
                                                                           aria-hidden="true"></i></h1>
                        <span class="border"></span>
                        <h3>Сложные Решения</h3>
                    </div>
                </div>
                <!--End single item-->

            </div>
        </div>
    </section>
    <!--End fact counter area-->

    <!--Start team area-->
    <section class="team-area">
        <div class="container">
            <div class="sec-title-two">
                <h1>Team Members</h1>
                <span class="border"></span>
            </div>
            <div class="row">
                <!--Start single team member-->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single-team-member">
                        <div class="img-holder">
                            <img src="{% static 'webapp/images/about/team/1.jpg' %}" alt="Awesome Image">
                            <div class="overlay-one">
                                <div class="overlay-inner">
                                    <div class="content">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="phone">
                                <a href="#">
                                    <span class="flaticon-call-answer"></span>
                                </a>
                            </div>
                        </div>
                        <div class="text-holder">
                            <h3>Richard Antony</h3>
                            <span>Service Manager</span>
                            <div class="text">
                                <p>On the other hands, we denounces with righteours indignations and dislike men
                                    demoralized by the charms.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End single team member-->
                <!--Start single team member-->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single-team-member">
                        <div class="img-holder">
                            <img src="{% static 'webapp/images/about/team/2.jpg' %}" alt="Awesome Image">
                            <div class="overlay-one">
                                <div class="overlay-inner">
                                    <div class="content">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="phone">
                                <a href="#">
                                    <span class="flaticon-call-answer"></span>
                                </a>
                            </div>
                        </div>
                        <div class="text-holder">
                            <h3>Willaim Rickmen</h3>
                            <span>Repair Man</span>
                            <div class="text">
                                <p>Foresee the pains and troubler thats are bound to ensue; and equall blame seds
                                    belongs to those duty Gardern.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End single team member-->
                <!--Start single team member-->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single-team-member">
                        <div class="img-holder">
                            <img src="{% static 'webapp/images/about/team/3.jpg' %}" alt="Awesome Image">
                            <div class="overlay-one">
                                <div class="overlay-inner">
                                    <div class="content">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="phone">
                                <a href="#">
                                    <span class="flaticon-call-answer"></span>
                                </a>
                            </div>
                        </div>
                        <div class="text-holder">
                            <h3>Sunny Vandosky</h3>
                            <span>Quality Checker</span>
                            <div class="text">
                                <p>When our power of choices is ut untram and when nothing prevent our being able to do
                                    what we like best.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End single team member-->
                <!--Start single team member-->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single-team-member">
                        <div class="img-holder">
                            <img src="{% static 'webapp/images/about/team/4.jpg' %}" alt="Awesome Image">
                            <div class="overlay-one">
                                <div class="overlay-inner">
                                    <div class="content">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="phone">
                                <a href="#">
                                    <span class="flaticon-call-answer"></span>
                                </a>
                            </div>
                        </div>
                        <div class="text-holder">
                            <h3>Charles Nicholes</h3>
                            <span>Branch Manager</span>
                            <div class="text">
                                <p>Certain circumstances us and owings too the claims of duty ut or of business it will
                                    frequently.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End single team member-->
            </div>
        </div>
    </section>
    <!--End team area-->

{% endblock %}