{% extends 'main/base.html' %}
{% load static %}


{% block content %}

<!--Start breadcrumb area-->
    <section class="breadcrumb-area" style="background-image: url('{% if contact_banner_image %}{{ contact_banner_image.url }}{% else %}{% static 'webapp/images/resources/ecu_convert.jpg' %}{% endif %}');">
        <div class="container text-center news-content">
            <h1>Контакты</h1>
        </div>
    </section>
<!--End breadcrumb area-->

<!--Start breadcrumb bottom area-->
<section class="breadcrumb-botton-area">
    <div class="container">
        <div class="left pull-left">
            <ul>
                <li><a href="{% url 'webapp:home' %}">Главная</a></li>
                <li><i class="fa fa-caret-right" aria-hidden="true"></i></li>
                <li>Контакты</li>
            </ul>    
        </div>
        <div class="right pull-right">
            <a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i>Поделиться</a>
        </div>  
    </div>
</section>
<!--End breadcrumb bottom area-->

    <!--Start contact area-->
    <section id="contact" class="contact-area">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="contact-info">
                        <div class="title">
                            <h2>ECU Service</h2>
                        </div>
                        <div class="accordion-box">
                            <!--Start single accordion box-->
                            {% for main_contact in offices %}
                                <div class="accordion accordion-block">
                                    <div class="accord-btn active"><h4>{{ main_contact.name }}</h4></div>
                                    <div class="accord-content collapsed">
                                        <ul class="contact-info-list">
                                            <li>
                                                <div class="icon-holder">
                                                    <span class="flaticon-home-page"></span>
                                                </div>
                                                <div class="text-holder">
                                                    <h5>
                                                        <span>{{ main_contact.address }}</span><br> {{ main_contact.city_address }}
                                                    </h5>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon-holder">
                                                    <span class="flaticon-call-answer"></span>
                                                </div>
                                                <div class="text-holder">
                                                    <h5><span>Наш телефон</span><br>{{ main_contact.phone_number }}</h5>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon-holder">
                                                    <span class="flaticon-envelope"></span>
                                                </div>
                                                <div class="text-holder">
                                                    <h5><span>Почта</span><br>{{ main_contact.email }}</h5>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon-holder">
                                                    <span class="flaticon-clock"></span>
                                                </div>
                                                <div class="text-holder">
                                                    <h5><span>Время работы</span><br>{{ main_contact.opening_hours }}
                                                    </h5>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon-holder">
                                                    <span class="flaticon-slices-of-bread"></span>
                                                </div>
                                                <div class="text-holder">
                                                    <h5><span>Обед</span><br>{{ main_contact.lunch }}</h5>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <!--End single accordion box-->
{#                                <!--Start single accordion box-->#}
{#                                <div class="accordion accordion-block">#}
{#                                    <div class="accord-btn"><h4>Regional Office</h4></div>#}
{#                                    <div class="accord-content">#}
{#                                        <ul class="contact-info-list">#}
{#                                            <li>#}
{#                                                <div class="icon-holder">#}
{#                                                    <span class="flaticon-home-page"></span>#}
{#                                                </div>#}
{#                                                <div class="text-holder">#}
{#                                                    <h5><span>32, Breaking Street,</span><br> 2nd cros, Newyork ,USA#}
{#                                                        10002</h5>#}
{#                                                </div>#}
{#                                            </li>#}
{#                                            <li>#}
{#                                                <div class="icon-holder">#}
{#                                                    <span class="flaticon-call-answer"></span>#}
{#                                                </div>#}
{#                                                <div class="text-holder">#}
{#                                                    <h5><span>Call Us</span><br>+321 4567 89 012 &amp; 79 023</h5>#}
{#                                                </div>#}
{#                                            </li>#}
{#                                            <li>#}
{#                                                <div class="icon-holder">#}
{#                                                    <span class="flaticon-envelope"></span>#}
{#                                                </div>#}
{#                                                <div class="text-holder">#}
{#                                                    <h5><span>Mail Us</span><br>Support@Repairplus.com</h5>#}
{#                                                </div>#}
{#                                            </li>#}
{#                                            <li>#}
{#                                                <div class="icon-holder">#}
{#                                                    <span class="flaticon-clock"></span>#}
{#                                                </div>#}
{#                                                <div class="text-holder">#}
{#                                                    <h5><span>Opening Time</span><br>Mon - Sat: 09.00am to 18.00pm</h5>#}
{#                                                </div>#}
{#                                            </li>#}
{#                                        </ul>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <!--End single accordion box-->#}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="title-map"><h2>Мы на карте</h2></div>
                    <!--Start Google map area-->
                    <section class="google-map-area">
{#                        <div#}
{#                                class="google-map"#}
{#                                id="contact-google-map"#}
{#                                data-map-lat="55.5364"#}
{#                                data-map-lng="28.6630"#}
{#                                data-icon-path="../webapp/images/resources/map-marker.png"#}
{#                                data-map-title="Новополоцк, Беларусь, Витебская область, Дом Быта"#}
{#                                data-map-zoom="12"#}
{#                                data-markers='{#}
{#            "marker-1": [55.5364, 28.6630, "<h4>Город Новополоцк, Беларусь</h4><p>Витебская область, Дом Быта</p>"],#}
{#            "marker-2": [55.5364, 28.6630, "<h4>Еще один офис</h4><p>Дополнительная информация о втором офисе</p>","../webapp/images/resources/map-marker.png"]#}
{#        }'>#}
{##}
{#                        </div>#}
                        <div class="map-container">
                            <div class="map-wrapper">
                                <iframe class="map-iframe"
                                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2257.9433553685067!2d28.640930576458373!3d55.5333559088727!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46c485387b020b13%3A0x39a551c1c60f8ab0!2z0JTQvtC8INCR0YvRgtCw!5e0!3m2!1sru!2sby!4v1713770549794!5m2!1sru!2sby"
                                        frameborder="0" allowfullscreen>
                                </iframe>
                            </div>
                        </div>
                    </section>
                    <!--End Google map area-->
                </div>
            </div>
        </div>
    </section>
    <!--End contact area-->
    <!--*Mail Form*-->
    <section id="contact" class="call-to-action-area-mailform-index services-area">
        <div class="container">
            <div class="row">
                <!--*Newsletter*-->
                <div id="newsletter" class="mail-form-animation">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6 col-xs-12">
                                <div class="news-content">
                                    <img src="{% static 'webapp/images/resources/ecu_service_logo1.png' %}"
                                         class="img-fixed-size-for-mailform" alt="Awesome Logo">
                                    <h2>Бесплатная Консультация</h2>
                                    <p class="beige"><b>НАПИШИТЕ НАМ И В ТЕЧЕНИИ 10 МНУТ МЫ С ВАМИ СВЯЖЕМСЯ.</b></p>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <div class="mailpoet_form">
                                    <form target="_self" method="post" action="{% url 'webapp:contact' %}"
                                          novalidate="">
                                        {% csrf_token %}
                                        <input type="text" class="mailpoet_text" name="name"
                                               placeholder="Введите Ваше Имя">
                                        <input type="email" class="mailpoet_text" name="email" title="Email"
                                               placeholder="Введите Ваш Телефон">
                                        <input type="text" class="mailpoet_text" name="description"
                                               placeholder="Опишите проблему">
                                        <div class="button">
                                            <input type="submit" class="mailpoet_submit" value="Отправить Сообщение">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--*End Newsletter*-->
            </div>
        </div>
    </section>
    <!--*END MAIL FORM*-->

{% endblock %}
