{% extends 'main/base.html' %}
{% load static %}


{% block content %}

<!--Start breadcrumb area-->     
<section class="breadcrumb-area">
	<div class="container text-center">
		<h1>Phone Repair Faq’s</h1>
	</div>
</section>
<!--End breadcrumb area-->

<!--Start breadcrumb bottom area-->
<section class="breadcrumb-botton-area">
    <div class="container">
        <div class="left pull-left">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><i class="fa fa-caret-right" aria-hidden="true"></i></li>
                <li>Faq Single</li>
            </ul>    
        </div>
        <div class="right pull-right">
            <a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i>Share</a>
        </div>  
    </div>
</section>
<!--End breadcrumb bottom area-->

<!--Start faq single area-->
<section class="faq-single-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="content-box">
                    <div class="accordion-box">
                        <!--Start single accordion box-->
                        <div class="accordion accordion-block">
                            <div class="accord-btn"><h4>Will my repair cause data loss on my device?</h4></div>
                            <div class="accord-content">
                                <p>We give a Guarantee for a Period of 5 years and promise to rectify any fault arising out of faulty workmanship at our cost. However the guarantee does not hold good for mishandling and breakable items.</p>
                            </div>
                        </div>
                        <!--End single accordion box--> 
                        <!--Start single accordion box-->
                        <div class="accordion accordion-block">
                            <div class="accord-btn active"><h4>Do you provide any guarantee on the repairs?</h4></div>
                            <div class="accord-content collapsed">
                                <p>We give a Guarantee for a Period of 5 years and promise to rectify any fault arising out of faulty workmanship at our cost. However the guarantee does not hold good for mishandling and breakable items.</p>
                            </div>
                        </div>
                        <!--End single accordion box-->
                        <!--Start single accordion box-->
                        <div class="accordion accordion-block">
                            <div class="accord-btn"><h4>What is the procedure for getting phone unlocked?</h4></div>
                            <div class="accord-content">
                                <p>We give a Guarantee for a Period of 5 years and promise to rectify any fault arising out of faulty workmanship at our cost. However the guarantee does not hold good for mishandling and breakable items.</p>
                            </div>
                        </div>
                        <!--End single accordion box-->
                        <!--Start single accordion box-->
                        <div class="accordion accordion-block">
                            <div class="accord-btn"><h4>How will I get the updates of my repairs?</h4></div>
                            <div class="accord-content">
                                <p>We give a Guarantee for a Period of 5 years and promise to rectify any fault arising out of faulty workmanship at our cost. However the guarantee does not hold good for mishandling and breakable items.</p>
                            </div>
                        </div>
                        <!--End single accordion box-->
                        <!--Start single accordion box-->
                        <div class="accordion accordion-block">
                            <div class="accord-btn"><h4>What if you find more problems than quoted?</h4></div>
                            <div class="accord-content">
                                <p>We give a Guarantee for a Period of 5 years and promise to rectify any fault arising out of faulty workmanship at our cost. However the guarantee does not hold good for mishandling and breakable items.</p>
                            </div>
                        </div>
                        <!--End single accordion box-->
                        <!--Start single accordion box-->
                        <div class="accordion accordion-block">
                            <div class="accord-btn"><h4>Whom to contact in case of any grievances</h4></div>
                            <div class="accord-content">
                                <p>We give a Guarantee for a Period of 5 years and promise to rectify any fault arising out of faulty workmanship at our cost. However the guarantee does not hold good for mishandling and breakable items.</p>
                            </div>
                        </div>
                        <!--End single accordion box-->       
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="question-form">
                    <div class="sec-title-two">
                        <h1>Ask Your Questions</h1>
                    </div>
                    <form action="#">
                        <div class="row">
                            <div class="col-md-12">
                                <input name="name" placeholder="Name*" type="text">
                            </div>
                            <div class="col-md-12">
                                <input name="email" placeholder="Email*" type="text">
                            </div>
                            <div class="col-md-12">
                                <input name="subject" placeholder="Subject" type="text">
                            </div>
                            <div class="col-md-12">
                                <textarea name="question" placeholder="Your Questions..."></textarea>
                            </div>
                            <div class="col-md-12">
                                <button class="thm-btn bg-1" type="submit">Submit Now</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End faq single area-->
{% endblock %}