{% extends 'main/base.html' %}
{% load static %}


{% block content %}
<!--Start breadcrumb area-->     
<section class="breadcrumb-area">
	<div class="container text-center">
		<h1>FAQ’s</h1>
	</div>
</section>
<!--End breadcrumb area-->

<!--Start breadcrumb bottom area-->
<section class="breadcrumb-botton-area">
    <div class="container">
        <div class="left pull-left">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><i class="fa fa-caret-right" aria-hidden="true"></i></li>
                <li>FAQ’s</li>
            </ul>    
        </div>
        <div class="right pull-right">
            <a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i>Share</a>
        </div>  
    </div>
</section>
<!--End breadcrumb bottom area-->

<!--Start faq single area-->
<section class="faq-content-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="faq-content">
                    <div class="row">
                        <!--Start single item-->
                        <div class="col-md-6">
                            <div class="single-item">
                                <div class="title">
                                    <h3>Phone Repair FAQ’s</h3>
                                </div>
                                <div class="text">
                                    <p>The master-builder human happiness one rejects, dislikesavoided pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter.</p>
                                    <a href="#">View Questions<i class="fa fa-caret-right" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                        <!--End single item-->
                        <!--Start single item-->
                        <div class="col-md-6">
                            <div class="single-item">
                                <div class="title">
                                    <h3>Desktop & Laptop Repair FAQ’s</h3>
                                </div>
                                <div class="text">
                                    <p>How all this mistaken idea of denouncing sed pleasure and praising pain was born and we will give you a complete seds account of the system, and expound the actual teachings.</p>
                                    <a href="#">View Questions<i class="fa fa-caret-right" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                        <!--End single item-->
                    </div>
                    <div class="row">
                        <!--Start single item-->
                        <div class="col-md-6">
                            <div class="single-item">
                                <div class="title">
                                    <h3>Game Console FAQ’s</h3>
                                </div>
                                <div class="text">
                                    <p>Denouncing pleasure and praising pain was born and I will give a complete account of the system expound the actual teachings of the great explorer of the truth do rationally.</p>
                                    <a href="#">View Questions<i class="fa fa-caret-right" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                        <!--End single item-->
                        <!--Start single item-->
                        <div class="col-md-6">
                            <div class="single-item">
                                <div class="title">
                                    <h3>FAQ’s About Repairplus</h3>
                                </div>
                                <div class="text">
                                    <p>Complete account the system, and expound the actual teachings of the great explorer of the truth, the master-builder workers of human happiness encounter consequences. </p>
                                    <a href="#">View Questions<i class="fa fa-caret-right" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                        <!--End single item-->
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>
<!--End faq single area-->
  
{% endblock %}