{% extends 'main/base.html' %}
{% load static %}


{% block content %}

    {% include 'main/slider.html'%}

    <!--*Mail Form mobile*-->
    <section class="call-to-action-area-mailform-for-comp services-area">
        <div class="container">
            <div class="row">
                <!--*Newsletter*-->
                <div id="newsletter" class="mail-form-animation">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6 col-xs-12">
                                <div class="news-content">
                                    <img src="{% static 'webapp/images/resources/ecu_service_logo1.png' %}"
                                         class="img-fixed-size-for-mailform" alt="Awesome Logo">
                                    <h2>Бесплатная Консультация</h2>
                                    <p class="beige"><b>НАПИШИТЕ НАМ И В ТЕЧЕНИИ 10 МНУТ МЫ С ВАМИ СВЯЖЕМСЯ.</b></p>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <div class="mailpoet_form">
                                    <form target="_self" method="post" action="{% url 'webapp:contact' %}"
                                          novalidate="">
                                        {% csrf_token %}
                                        <input type="text" class="mailpoet_text" name="name"
                                               placeholder="Введите Ваше Имя">
                                        <input type="email" class="mailpoet_text" name="email" title="Email"
                                               placeholder="Введите Ваш Телефон">
                                        <input type="text" class="mailpoet_text" name="description"
                                               placeholder="Опишите проблему">
                                        <!-- Переносим кнопку в нижнюю часть формы -->
                                        <div class="button">
                                            <input type="submit" class="mailpoet_submit" value="Отправить Сообщение">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--*End Newsletter*-->
            </div>
        </div>
    </section>
    <!--*END MAIL FORM mobile*-->

    <!--Start breadcrumb bottom area-->
    <section class="breadcrumb-botton-area-main">
        <div class="container">
            <div class="left pull-left">
                <ul>
                    <li><a href="{% url 'webapp:home' %}">ECU SERVICE</a></li>
                </ul>
            </div>
            <div class="right pull-right">
                <a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i>Поделиться</a>
            </div>
        </div>
    </section>
    <!--End breadcrumb bottom area-->

    <!--Start call to action area-->
    <section class="call-to-action-area call-to-action-area-fon background-image-main">
        <div class="container">
            <div class="row">
                <!--Start single item-->
                {% for main_favorites in favorites %}
                    <div class="col-md-4">
                        <div class="single-item text-center">
                            <a href="{{ main_favorites.link }}">
                                <h5>{{ main_favorites.name }}</h5>
                            </a>
                            <div class="img-holder">
                                <img src="{{ main_favorites.image.url }}"
                                     class="img-fixed-size-three" alt="Awesome Image">
                                <div class="overlay">
                                    <div class="box">
                                        <div class="content">
                                            <a href="{{ main_favorites.link }}"><i class="fa fa-link"
                                                                                   aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="action text-holder">
                                <h4>{{ main_favorites.description | safe }}</h4>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <!--End single item-->
            </div>
        </div>
    </section>
    <!--End call to action area-->

    <!--Start services area-->
    <section class="call-to-action-area call-to-action-area-fon background-image-main">
        <div class="container">
            <div class="row">
                <div class="related-product">
                    <div class="sec-title-two">
                        <h3>Наши Услуги</h3>
                    </div>
                    <div class="row">
                        <!--Start single product item-->
                        {% for main_services in main_serv|slice:":8" %}
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="single-product-item single-item-services">
                                    <div class="img-holder">
                                        <img src="{{ main_services.image.url }}" class="img-fixed-size"
                                             alt="Awesome Product Image">
                                        <div class="overlay-box">
                                            <div class="box">
                                                <div class="content">
                                                    <a class="thm-btn bg-1" href="{{ main_services.links }}">Узнать
                                                        Больше</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="title-holder">
                                        <div class="top clearfix">
                                            <div class="product-title pull-left">
                                                <a href="{{ main_services.links }}">
                                                    <h5>{{ main_services.name }}</h5>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="text-holder">
                                            <p>{{ main_services.description|safe }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if forloop.counter|divisibleby:3 %}
                                {# Закрываем текущий ряд после каждой третьей модели #}
                                </div>
                                <div class="row">
                            {% endif %}
                        {% endfor %}
                        <!--End single product item-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End services area-->

    <!--*Mail Form*-->
    <section class="call-to-action-area-mailform-index services-area call-to-action-area-fon background-image-main">
        <div class="container">
            <div class="row">
                <!--*Newsletter*-->
                <div id="newsletter" class="mail-form-animation">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6 col-xs-12">
                                <div class="news-content">
                                    <img src="{% static 'webapp/images/resources/ecu_service_logo1.png' %}"
                                         class="img-fixed-size-for-mailform" alt="Awesome Logo">
                                    <h2>Бесплатная Консультация</h2>
                                    <p class="beige"><b>НАПИШИТЕ НАМ И В ТЕЧЕНИИ 10 МНУТ МЫ С ВАМИ СВЯЖЕМСЯ.</b></p>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <div class="mailpoet_form">
                                    <form target="_self" method="post" action="{% url 'webapp:contact' %}"
                                          novalidate="">
                                        {% csrf_token %}
                                        <input type="text" class="mailpoet_text" name="name"
                                               placeholder="Введите Ваше Имя">
                                        <input type="email" class="mailpoet_text" name="email" title="Email"
                                               placeholder="Введите Ваш Телефон">
                                        <input type="text" class="mailpoet_text" name="description"
                                               placeholder="Опишите проблему">
                                        <div class="button">
                                            <input type="submit" class="mailpoet_submit" value="Отправить Сообщение">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--*End Newsletter*-->
            </div>
        </div>
    </section>
    <!--*END MAIL FORM*-->

    <!--Start working process area-->
    <section class="working-process-area background-image-process">
        <div class="container">
            <div class="sec-title text-center sec-title-proces">
                <h1>Процесс Работы</h1>
            </div>
            <div class="row">
                <!--Start single item-->
                {% for main_proccesses in main_process %}
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="single-iten text-center">
                            <div class="img-box dasded">
                                <img src="{{ main_proccesses.photo.url }}" alt="Awesome Image"
                                     class="img-fixed-size-proccess">
                                <div class="count">
                                    <h3>{{ main_proccesses.steps }}</h3>
                                </div>
                            </div>
                            <div class="text-box sec-title-proces">
                                <h2>{{ main_proccesses.name }}</h2>
                                <p>{{ main_proccesses.description | safe }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <!--End single item-->
            </div>
        </div>
    </section>
    <!--End working process area-->

    <!--Start fact counter area-->
    <section class="fact-counter-area background-image-process">
        <div class="container">
            <div class="row">
                <!--Start single item-->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single-item text-center">
                        <h1><span class="timer" data-from="1" data-to="1997 " data-speed="5000"
                                  data-refresh-interval="50">21</span><i class="fa fa-calendar-plus-o"
                                                                         aria-hidden="true"></i></h1>
                        <span class="border"></span>
                        <h3>Ремонтируем Электронику</h3>
                    </div>
                </div>
                <!--End single item-->
                <!--Start single item-->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single-item text-center">
                        <h1><span class="timer" data-from="1" data-to="1000" data-speed="5000"
                                  data-refresh-interval="50">146</span><i class="fa fa-plus" aria-hidden="true"></i>
                        </h1>
                        <span class="border"></span>
                        <h3>Блоков Эбу</h3>
                    </div>
                </div>
                <!--End single item-->
                <!--Start single item-->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single-item text-center">
                        <h1><span class="timer" data-from="1" data-to="1000" data-speed="5000"
                                  data-refresh-interval="50">853</span><i class="fa fa-plus" aria-hidden="true"></i>
                        </h1>
                        <span class="border"></span>
                        <h3>Электро Транспорт</h3>
                    </div>
                </div>
                <!--End single item-->
                <!--Start single item-->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single-item text-center">
                        <h1><span class="timer" data-from="1" data-to="100" data-speed="5000"
                                  data-refresh-interval="50">2381</span><i class="fa fa-puzzle-piece"
                                                                           aria-hidden="true"></i></h1>
                        <span class="border"></span>
                        <h3>Сложные Решения</h3>
                    </div>
                </div>
                <!--End single item-->

            </div>
        </div>
    </section>
    <!--End fact counter area-->

    <!--Start core value area-->
    <section class="core-value-area working-process-area-fon background-image-ourtop">
        <div class="container">
            <div class="row">
                <div class="col-md-8 content pull-right">
                    <div class="text-holder">
                        <div class="sec-title-two">
                            <h1>Наши Приемущества</h1>
                            <span class="border"></span>
                        </div>
                        <div class="row">
                            <!--Start single item-->
                            {% for main_facts in facts %}
                                <div class="col-md-6">
                                    <div class="single-item">
                                        <div class="icon-box">
                                            <span class="{{ main_facts.icon_facts }}"></span>
                                        </div>
                                        <div class="text-box">
                                            <h3>{{ main_facts.name }}</h3>
                                            <p>{{ main_facts.description|safe }}</p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            <!--End single item-->
                        </div>
                    </div>
                </div>
                <div class="col-md-4 image pull-left">
                    <div class="img-holder">
                        <img src="{% static 'webapp/images/resources/ecu_priemushestva.jpg' %}" alt="Awesome Image">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End core value area-->
{##}
{#    <!--Start fact counter area-->#}
{#    <section class="fact-counter-area bg_img_fact">#}
{#        <div class="container">#}
{#            <div class="row">#}
{#                <!--Start single item-->#}
{#                <div class="col-md-3 col-sm-6 col-xs-12">#}
{#                    <div class="single-item text-center">#}
{#                        <h1><span class="timer" data-from="1" data-to="2456" data-speed="5000"#}
{#                                  data-refresh-interval="50">2456</span></h1>#}
{#                        <span class="border"></span>#}
{#                        <h3>Mobiles Repaired</h3>#}
{#                    </div>#}
{#                </div>#}
{#                <!--End single item-->#}
{#                <!--Start single item-->#}
{#                <div class="col-md-3 col-sm-6 col-xs-12">#}
{#                    <div class="single-item text-center">#}
{#                        <h1><span class="timer" data-from="1" data-to="146" data-speed="5000"#}
{#                                  data-refresh-interval="50">146</span><i class="fa fa-plus" aria-hidden="true"></i>#}
{#                        </h1>#}
{#                        <span class="border"></span>#}
{#                        <h3>Expert Technicians</h3>#}
{#                    </div>#}
{#                </div>#}
{#                <!--End single item-->#}
{#                <!--Start single item-->#}
{#                <div class="col-md-3 col-sm-6 col-xs-12">#}
{#                    <div class="single-item text-center">#}
{#                        <h1><span class="timer" data-from="1" data-to="853" data-speed="5000"#}
{#                                  data-refresh-interval="50">853</span><i class="fa fa-plus" aria-hidden="true"></i>#}
{#                        </h1>#}
{#                        <span class="border"></span>#}
{#                        <h3>Happy Customers</h3>#}
{#                    </div>#}
{#                </div>#}
{#                <!--End single item-->#}
{#                <!--Start single item-->#}
{#                <div class="col-md-3 col-sm-6 col-xs-12">#}
{#                    <div class="single-item text-center">#}
{#                        <h1><span class="timer" data-from="1" data-to="2381" data-speed="5000"#}
{#                                  data-refresh-interval="50">2381</span></h1>#}
{#                        <span class="border"></span>#}
{#                        <h3>Desktop Repaired</h3>#}
{#                    </div>#}
{#                </div>#}
{#                <!--End single item-->#}
{##}
{#            </div>#}
{#        </div>#}
{#    </section>#}
{#    <!--End fact counter area-->#}
{##}
{#    <!--Start appoinment area-->#}
{#    <section class="appoinment-area">#}
{#        <div class="container">#}
{#            <div class="row">#}
{#                <div class="col-md-6 col-sm-12 col-xs-12">#}
{#                    <div class="products">#}
{#                        <div class="sec-title-two">#}
{#                            <h1>Works Before & After</h1>#}
{#                            <span class="border"></span>#}
{#                        </div>#}
{#                        <div class="row">#}
{#                            <!--Start single item-->#}
{#                            <div class="col-md-6 col-sm-6 col-xs-12">#}
{#                                <div class="single-product">#}
{#                                    <ul>#}
{#                                        <li>#}
{#                                            <div class="img-holder">#}
{#                                                <img src="{% static 'webapp/images/appoinment/before-1.jpg' %}"#}
{#                                                     alt="Awesome Image">#}
{#                                                <div class="overlay-box">#}
{#                                                    <div class="box">#}
{#                                                        <div class="content">#}
{#                                                            <a href="#">Before</a>#}
{#                                                        </div>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </li>#}
{#                                        <li>#}
{#                                            <div class="img-holder">#}
{#                                                <img src="{% static 'webapp/images/appoinment/after-1.jpg' %}"#}
{#                                                     alt="Awesome Image">#}
{#                                                <div class="overlay-box">#}
{#                                                    <div class="box">#}
{#                                                        <div class="content">#}
{#                                                            <a href="#">After</a>#}
{#                                                        </div>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </li>#}
{#                                    </ul>#}
{#                                </div>#}
{#                            </div>#}
{#                            <!--End single item-->#}
{#                            <!--Start single item-->#}
{#                            <div class="col-md-6 col-sm-6 col-xs-12">#}
{#                                <div class="single-product">#}
{#                                    <ul>#}
{#                                        <li>#}
{#                                            <div class="img-holder">#}
{#                                                <img src="{% static 'webapp/images/appoinment/before-2.jpg' %}"#}
{#                                                     alt="Awesome Image">#}
{#                                                <div class="overlay-box">#}
{#                                                    <div class="box">#}
{#                                                        <div class="content">#}
{#                                                            <a href="#">Before</a>#}
{#                                                        </div>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </li>#}
{#                                        <li>#}
{#                                            <div class="img-holder">#}
{#                                                <img src="{% static 'webapp/images/appoinment/after-2.jpg' %}"#}
{#                                                     alt="Awesome Image">#}
{#                                                <div class="overlay-box">#}
{#                                                    <div class="box">#}
{#                                                        <div class="content">#}
{#                                                            <a href="#">After</a>#}
{#                                                        </div>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </li>#}
{#                                    </ul>#}
{#                                </div>#}
{#                            </div>#}
{#                            <!--End single item-->#}
{#                        </div>#}
{##}
{#                        <div class="row">#}
{#                            <!--Start single item-->#}
{#                            <div class="col-md-6 col-sm-6 col-xs-12">#}
{#                                <div class="single-product">#}
{#                                    <ul>#}
{#                                        <li>#}
{#                                            <div class="img-holder">#}
{#                                                <img src="{% static 'webapp/images/appoinment/before-3.jpg' %}"#}
{#                                                     alt="Awesome Image">#}
{#                                                <div class="overlay-box">#}
{#                                                    <div class="box">#}
{#                                                        <div class="content">#}
{#                                                            <a href="#">Before</a>#}
{#                                                        </div>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </li>#}
{#                                        <li>#}
{#                                            <div class="img-holder">#}
{#                                                <img src="{% static 'webapp/images/appoinment/after-3.jpg' %}"#}
{#                                                     alt="Awesome Image">#}
{#                                                <div class="overlay-box">#}
{#                                                    <div class="box">#}
{#                                                        <div class="content">#}
{#                                                            <a href="#">After</a>#}
{#                                                        </div>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </li>#}
{#                                    </ul>#}
{#                                </div>#}
{#                            </div>#}
{#                            <!--End single item-->#}
{#                            <!--Start single item-->#}
{#                            <div class="col-md-6 col-sm-6 col-xs-12">#}
{#                                <div class="single-product">#}
{#                                    <ul>#}
{#                                        <li>#}
{#                                            <div class="img-holder">#}
{#                                                <img src="{% static 'webapp/images/appoinment/before-4.jpg' %}"#}
{#                                                     alt="Awesome Image">#}
{#                                                <div class="overlay-box">#}
{#                                                    <div class="box">#}
{#                                                        <div class="content">#}
{#                                                            <a href="#">Before</a>#}
{#                                                        </div>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </li>#}
{#                                        <li>#}
{#                                            <div class="img-holder">#}
{#                                                <img src="{% static 'webapp/images/appoinment/after-4.jpg' %}"#}
{#                                                     alt="Awesome Image">#}
{#                                                <div class="overlay-box">#}
{#                                                    <div class="box">#}
{#                                                        <div class="content">#}
{#                                                            <a href="#">After</a>#}
{#                                                        </div>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </li>#}
{#                                    </ul>#}
{#                                </div>#}
{#                            </div>#}
{#                            <!--End single item-->#}
{#                        </div>#}
{##}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-md-6 col-sm-12 col-xs-12">#}
{#                    <div class="appoinment">#}
{#                        <div class="sec-title-two">#}
{#                            <h1>Make an Appoinment</h1>#}
{#                            <span class="border"></span>#}
{#                        </div>#}
{#                        <form class="appoinment-form">#}
{#                            <div class="row margin">#}
{#                                <div class="col-md-6 pd">#}
{#                                    <div class="input-box">#}
{#                                        <input type="text" name="name" placeholder="Name*">#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-md-6 pd">#}
{#                                    <div class="input-box">#}
{#                                        <input type="text" name="mail" placeholder="Email*">#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="row margin">#}
{#                                <div class="col-md-6 pd">#}
{#                                    <div class="input-box">#}
{#                                        <input type="text" name="phone" placeholder="Phone*">#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-md-6 pd">#}
{#                                    <div class="input-box">#}
{#                                        <input type="text" name="date" placeholder="Date" id="datepicker">#}
{#                                        <div class="icon-box">#}
{#                                            <i class="fa fa-calendar" aria-hidden="true"></i>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="row margin">#}
{#                                <div class="col-md-6 pd">#}
{#                                    <div class="input-box">#}
{#                                        <input type="text" name="time" placeholder="Time">#}
{#                                        <div class="icon-box">#}
{#                                            <i class="fa fa-clock-o" aria-hidden="true"></i>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-md-6 pd">#}
{#                                    <div class="input-box">#}
{#                                        <select class="selectmenu">#}
{#                                            <option selected="selected">Select Service</option>#}
{#                                            <option>Select Service one</option>#}
{#                                            <option>Select Service Two</option>#}
{#                                            <option>Select Service Three</option>#}
{#                                        </select>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="row margin">#}
{#                                <div class="col-md-12 pd">#}
{#                                    <div class="input-box">#}
{#                                        <textarea name="message" placeholder="Message..."></textarea>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="row">#}
{#                                <div class="col-md-12">#}
{#                                    <button class="thm-btn bg-1" type="submit">Send Now</button>#}
{#                                </div>#}
{#                            </div>#}
{#                        </form>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}
{#    <!--End appoinment area-->#}

    <!--Start latest blog area-->
    <section class="latest-blog-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="sec-title-two pull-left">
                        <h1>Наши Новости</h1>
                    </div>
                    <div class="button pull-right">
                        <a href="{% url 'blog:blog' %}">Узнать Больше Новостей<i class="fa fa-caret-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <!--Start single latest blog-->
                {% for main_news in news %}
                <div class="col-md-4">
                    <div class="single-latest-blog">
                        <div class="img-holder">
                            <img src="{{ main_news.photo.url }}" class="img-fixed-size img-fixed-size-blog" alt="Awesome Image">
                            <div class="overlay-box">
                                <div class="box">
                                    <div class="content">
                                        <a href="{% url 'blog:single' pk=main_news.id %}"><i class="fa fa-link" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-holder">
                            <ul class="meta-info">
                                <li><i class="fa fa-user" aria-hidden="true"></i><a href="{% url 'blog:single' pk=main_news.id %}">{{ main_news.author }}</a></li>
                                <li><i class="fa fa-clock-o" aria-hidden="true"></i><a href="{% url 'blog:single' pk=main_news.id %}">{{ main_news.pub_date }}</a></li>
                            </ul>
                            <a href="{% url 'blog:single' pk=main_news.id %}">
                                <h3 class="blog-title">{{ main_news.title }}</h3>
                            </a>
                        </div>
                    </div>
                </div>
                <!--End single latest blog-->
                {% endfor %}
            </div>
        </div>
    </section>
    <!--End latest blog area-->


{% endblock %}
