{% extends 'main/base.html' %}
{% load static %}


{% block content %}

    {% include 'main/slider.html'%}

    <!--Start call to action area-->
    <section class="call-to-action-area">
        <div class="container">
            <div class="row">
                <!--Start single item-->
                {% for main_favorites in favorites %}
                <div class="col-md-4">
                    <div class="single-item text-center">
                        <a href="{{ main_favorites.link }}">
                            <h5>{{ main_favorites.name }}</h5>
                        </a>
                        <div class="img-holder">
                            <img src="{{ main_favorites.image.url }}"
                                 class="img-fixed-size-three" alt="Awesome Image">
                            <div class="overlay">
                                <div class="box">
                                    <div class="content">
                                        <a href="{{ main_favorites.link }}"><i class="fa fa-link" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="action text-holder">
                            <h4>{{ main_favorites.description | safe }}</h4>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!--End single item-->
            </div>
        </div>
    </section>
    <!--End call to action area-->

    <!--Start services area-->
    <section class="call-to-action-area">
        <div class="container">
            <div class="row">
                <div class="related-product">
                    <div class="sec-title-two">
                        <h3>Наши Услуги</h3>
                    </div>
                    <div class="row">
                        <!--Start single product item-->
                        {% for main_services in main_serv|slice:":8" %}
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="single-product-item single-item-services">
                                    <div class="img-holder">
                                        <img src="{{ main_services.image.url }}" class="img-fixed-size"
                                             alt="Awesome Product Image">
                                        <div class="overlay-box">
                                            <div class="box">
                                                <div class="content">
                                                    <a class="thm-btn bg-1" href="{{ main_services.link }}">Узнать
                                                        Больше</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="title-holder">
                                        <div class="top clearfix">
                                            <div class="product-title pull-left">
                                                <a href="{{ main_services.link }}">
                                                    <h5>{{ main_services.name }}</h5>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="text-holder">
                                            <p>{{ main_services.description }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if forloop.counter|divisibleby:3 %}
                                {# Закрываем текущий ряд после каждой третьей модели #}
                                </div>
                                <div class="row">
                            {% endif %}
                        {% endfor %}
                        <!--End single product item-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End services area-->

    <!--*Mail Form*-->
    <section class="call-to-action-area-mailform services-area">
        <div class="container">
            <div class="row">
                <!--*Newsletter*-->
                <div id="newsletter" class="mail-form-animation">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6 col-xs-12">
                                <div class="news-content">
                                    <img src="{% static 'webapp/images/resources/ecu_service_logo1.png' %}"
                                         class="img-fixed-size-for-mailform" alt="Awesome Logo">
                                    <h2>Бесплатная Консультация</h2>
                                    <p class="beige"><b>НАПИШИТЕ НАМ И В ТЕЧЕНИИ 10 МНУТ МЫ С ВАМИ СВЯЖЕМСЯ.</b></p>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <div class="mailpoet_form">
                                    <form target="_self" method="post" action="{% url 'webapp:contact' %}"
                                          novalidate="">
                                        {% csrf_token %}
                                        <input type="text" class="mailpoet_text" name="name"
                                               placeholder="Введите Ваше Имя">
                                        <input type="email" class="mailpoet_text" name="email" title="Email"
                                               placeholder="Введите Ваш Телефон">
                                        <input type="text" class="mailpoet_text" name="description"
                                               placeholder="Опишите проблему">
                                        <div class="button">
                                            <input type="submit" class="mailpoet_submit" value="Отправить Сообщение">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--*End Newsletter*-->
            </div>
        </div>
    </section>
    <!--*END MAIL FORM*-->

    <!--Start working process area-->
    <section class="working-process-area background-image-process">
        <div class="container">
            <div class="sec-title text-center sec-title-proces">
                <h1>Процесс Работы</h1>
            </div>
            <div class="row">
                <!--Start single item-->
                {% for main_proccesses in main_process %}
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="single-iten text-center">
                            <div class="img-box dasded">
                                <img src="{{ main_proccesses.photo.url }}" alt="Awesome Image"
                                     class="img-fixed-size-proccess">
                                <div class="count">
                                    <h3>{{ main_proccesses.steps }}</h3>
                                </div>
                            </div>
                            <div class="text-box sec-title-proces">
                                <h2>{{ main_proccesses.name }}</h2>
                                <p>{{ main_proccesses.description | safe }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <!--End single item-->
            </div>
        </div>
    </section>
    <!--End working process area-->

    <!--Start fact counter area-->
    <section class="fact-counter-area background-image-process">
        <div class="container">
            <div class="row">
                <!--Start single item-->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single-item text-center">
                        <h1><span class="timer" data-from="1" data-to="1997 " data-speed="5000"
                                  data-refresh-interval="50">21</span><i class="fa fa-calendar-plus-o"
                                                                         aria-hidden="true"></i></h1>
                        <span class="border"></span>
                        <h3>Ремонтируем Электронику</h3>
                    </div>
                </div>
                <!--End single item-->
                <!--Start single item-->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single-item text-center">
                        <h1><span class="timer" data-from="1" data-to="300" data-speed="5000"
                                  data-refresh-interval="50">146</span><i class="fa fa-plus" aria-hidden="true"></i>
                        </h1>
                        <span class="border"></span>
                        <h3>Блоков Эбу</h3>
                    </div>
                </div>
                <!--End single item-->
                <!--Start single item-->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single-item text-center">
                        <h1><span class="timer" data-from="1" data-to="1000" data-speed="5000"
                                  data-refresh-interval="50">853</span><i class="fa fa-plus" aria-hidden="true"></i>
                        </h1>
                        <span class="border"></span>
                        <h3>Электро Транспорт</h3>
                    </div>
                </div>
                <!--End single item-->
                <!--Start single item-->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single-item text-center">
                        <h1><span class="timer" data-from="1" data-to="100" data-speed="5000"
                                  data-refresh-interval="50">2381</span><i class="fa fa-puzzle-piece"
                                                                           aria-hidden="true"></i></h1>
                        <span class="border"></span>
                        <h3>Сложные Решения</h3>
                    </div>
                </div>
                <!--End single item-->

            </div>
        </div>
    </section>
    <!--End fact counter area-->


    <!--Start about us area-->
    <section class="about-us-area">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="about-content">
                        <div class="sec-title-two">
                            <h1>О Нас</h1>
                            <span class="border"></span>
                        </div>
                        <ul>
                            <li>
                                <div class="img-holder">
                                    <img src="{% static 'webapp/images/about/1.jpg' %}" alt="Awesome Image">
                                </div>
                            </li>
                            <li>
                                <div class="img-holder">
                                    <img src="{% static 'webapp/images/about/2.jpg' %}" alt="Awesome Image">
                                </div>
                            </li>
                            <li>
                                <div class="img-holder">
                                    <img src="{% static 'webapp/images/about/3.jpg' %}" alt="Awesome Image">
                                </div>
                            </li>
                        </ul>
                        <div class="text-holder">
                            <p>Our commitment to bring professionalism, good service & trust to the Phone repair service
                                & maintenance business. We take immense pride in sending some of the most of
                                professional technicians to yours phone to fix things that aren't workings. </p>
                            <h3>Save time, Save money, With Quality Phone Repair Service,
                                <span>Purchase - RepairPlus</span></h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="choose-us-content">
                        <div class="sec-title-two">
                            <h1>Почему Мы</h1>
                            <span class="border"></span>
                        </div>
                        <ul>
                            <li>
                                <div class="iocn-holder">
                                    <span class="flaticon-tool"></span>
                                </div>
                                <div class="text-holder">
                                    <h4>Free Diagnostics</h4>
                                    <p>Mr.Fixit is a quick and easy way of checking the set up on your Mobile Phones,
                                        Desktop & Laptop, Acessories and ect... We done its free of cost.</p>
                                </div>
                            </li>
                            <li>
                                <div class="iocn-holder">
                                    <span class="flaticon-wrench"></span>
                                </div>
                                <div class="text-holder">
                                    <h4>Quick Repair Process</h4>
                                    <p>The repair process is fast and convenient & our expert teams of Mr.Fixit repair,
                                        If you see a phone symbol in the top left corner of the screen.</p>
                                </div>
                            </li>
                            <li>
                                <div class="iocn-holder">
                                    <span class="flaticon-customer-support"></span>
                                </div>
                                <div class="text-holder">
                                    <h4>24/7 Customer Support</h4>
                                    <p>24x7 techsupport is one of the best services in the Mr.Fixit. 24x7 tech support
                                        providing quality services at anytime, anywhere in the world.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End about us area-->
{##}
{#    <!--Start fact counter area-->#}
{#    <section class="fact-counter-area bg_img_fact">#}
{#        <div class="container">#}
{#            <div class="row">#}
{#                <!--Start single item-->#}
{#                <div class="col-md-3 col-sm-6 col-xs-12">#}
{#                    <div class="single-item text-center">#}
{#                        <h1><span class="timer" data-from="1" data-to="2456" data-speed="5000"#}
{#                                  data-refresh-interval="50">2456</span></h1>#}
{#                        <span class="border"></span>#}
{#                        <h3>Mobiles Repaired</h3>#}
{#                    </div>#}
{#                </div>#}
{#                <!--End single item-->#}
{#                <!--Start single item-->#}
{#                <div class="col-md-3 col-sm-6 col-xs-12">#}
{#                    <div class="single-item text-center">#}
{#                        <h1><span class="timer" data-from="1" data-to="146" data-speed="5000"#}
{#                                  data-refresh-interval="50">146</span><i class="fa fa-plus" aria-hidden="true"></i>#}
{#                        </h1>#}
{#                        <span class="border"></span>#}
{#                        <h3>Expert Technicians</h3>#}
{#                    </div>#}
{#                </div>#}
{#                <!--End single item-->#}
{#                <!--Start single item-->#}
{#                <div class="col-md-3 col-sm-6 col-xs-12">#}
{#                    <div class="single-item text-center">#}
{#                        <h1><span class="timer" data-from="1" data-to="853" data-speed="5000"#}
{#                                  data-refresh-interval="50">853</span><i class="fa fa-plus" aria-hidden="true"></i>#}
{#                        </h1>#}
{#                        <span class="border"></span>#}
{#                        <h3>Happy Customers</h3>#}
{#                    </div>#}
{#                </div>#}
{#                <!--End single item-->#}
{#                <!--Start single item-->#}
{#                <div class="col-md-3 col-sm-6 col-xs-12">#}
{#                    <div class="single-item text-center">#}
{#                        <h1><span class="timer" data-from="1" data-to="2381" data-speed="5000"#}
{#                                  data-refresh-interval="50">2381</span></h1>#}
{#                        <span class="border"></span>#}
{#                        <h3>Desktop Repaired</h3>#}
{#                    </div>#}
{#                </div>#}
{#                <!--End single item-->#}
{##}
{#            </div>#}
{#        </div>#}
{#    </section>#}
{#    <!--End fact counter area-->#}
{##}
{#    <!--Start appoinment area-->#}
{#    <section class="appoinment-area">#}
{#        <div class="container">#}
{#            <div class="row">#}
{#                <div class="col-md-6 col-sm-12 col-xs-12">#}
{#                    <div class="products">#}
{#                        <div class="sec-title-two">#}
{#                            <h1>Works Before & After</h1>#}
{#                            <span class="border"></span>#}
{#                        </div>#}
{#                        <div class="row">#}
{#                            <!--Start single item-->#}
{#                            <div class="col-md-6 col-sm-6 col-xs-12">#}
{#                                <div class="single-product">#}
{#                                    <ul>#}
{#                                        <li>#}
{#                                            <div class="img-holder">#}
{#                                                <img src="{% static 'webapp/images/appoinment/before-1.jpg' %}"#}
{#                                                     alt="Awesome Image">#}
{#                                                <div class="overlay-box">#}
{#                                                    <div class="box">#}
{#                                                        <div class="content">#}
{#                                                            <a href="#">Before</a>#}
{#                                                        </div>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </li>#}
{#                                        <li>#}
{#                                            <div class="img-holder">#}
{#                                                <img src="{% static 'webapp/images/appoinment/after-1.jpg' %}"#}
{#                                                     alt="Awesome Image">#}
{#                                                <div class="overlay-box">#}
{#                                                    <div class="box">#}
{#                                                        <div class="content">#}
{#                                                            <a href="#">After</a>#}
{#                                                        </div>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </li>#}
{#                                    </ul>#}
{#                                </div>#}
{#                            </div>#}
{#                            <!--End single item-->#}
{#                            <!--Start single item-->#}
{#                            <div class="col-md-6 col-sm-6 col-xs-12">#}
{#                                <div class="single-product">#}
{#                                    <ul>#}
{#                                        <li>#}
{#                                            <div class="img-holder">#}
{#                                                <img src="{% static 'webapp/images/appoinment/before-2.jpg' %}"#}
{#                                                     alt="Awesome Image">#}
{#                                                <div class="overlay-box">#}
{#                                                    <div class="box">#}
{#                                                        <div class="content">#}
{#                                                            <a href="#">Before</a>#}
{#                                                        </div>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </li>#}
{#                                        <li>#}
{#                                            <div class="img-holder">#}
{#                                                <img src="{% static 'webapp/images/appoinment/after-2.jpg' %}"#}
{#                                                     alt="Awesome Image">#}
{#                                                <div class="overlay-box">#}
{#                                                    <div class="box">#}
{#                                                        <div class="content">#}
{#                                                            <a href="#">After</a>#}
{#                                                        </div>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </li>#}
{#                                    </ul>#}
{#                                </div>#}
{#                            </div>#}
{#                            <!--End single item-->#}
{#                        </div>#}
{##}
{#                        <div class="row">#}
{#                            <!--Start single item-->#}
{#                            <div class="col-md-6 col-sm-6 col-xs-12">#}
{#                                <div class="single-product">#}
{#                                    <ul>#}
{#                                        <li>#}
{#                                            <div class="img-holder">#}
{#                                                <img src="{% static 'webapp/images/appoinment/before-3.jpg' %}"#}
{#                                                     alt="Awesome Image">#}
{#                                                <div class="overlay-box">#}
{#                                                    <div class="box">#}
{#                                                        <div class="content">#}
{#                                                            <a href="#">Before</a>#}
{#                                                        </div>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </li>#}
{#                                        <li>#}
{#                                            <div class="img-holder">#}
{#                                                <img src="{% static 'webapp/images/appoinment/after-3.jpg' %}"#}
{#                                                     alt="Awesome Image">#}
{#                                                <div class="overlay-box">#}
{#                                                    <div class="box">#}
{#                                                        <div class="content">#}
{#                                                            <a href="#">After</a>#}
{#                                                        </div>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </li>#}
{#                                    </ul>#}
{#                                </div>#}
{#                            </div>#}
{#                            <!--End single item-->#}
{#                            <!--Start single item-->#}
{#                            <div class="col-md-6 col-sm-6 col-xs-12">#}
{#                                <div class="single-product">#}
{#                                    <ul>#}
{#                                        <li>#}
{#                                            <div class="img-holder">#}
{#                                                <img src="{% static 'webapp/images/appoinment/before-4.jpg' %}"#}
{#                                                     alt="Awesome Image">#}
{#                                                <div class="overlay-box">#}
{#                                                    <div class="box">#}
{#                                                        <div class="content">#}
{#                                                            <a href="#">Before</a>#}
{#                                                        </div>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </li>#}
{#                                        <li>#}
{#                                            <div class="img-holder">#}
{#                                                <img src="{% static 'webapp/images/appoinment/after-4.jpg' %}"#}
{#                                                     alt="Awesome Image">#}
{#                                                <div class="overlay-box">#}
{#                                                    <div class="box">#}
{#                                                        <div class="content">#}
{#                                                            <a href="#">After</a>#}
{#                                                        </div>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </li>#}
{#                                    </ul>#}
{#                                </div>#}
{#                            </div>#}
{#                            <!--End single item-->#}
{#                        </div>#}
{##}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-md-6 col-sm-12 col-xs-12">#}
{#                    <div class="appoinment">#}
{#                        <div class="sec-title-two">#}
{#                            <h1>Make an Appoinment</h1>#}
{#                            <span class="border"></span>#}
{#                        </div>#}
{#                        <form class="appoinment-form">#}
{#                            <div class="row margin">#}
{#                                <div class="col-md-6 pd">#}
{#                                    <div class="input-box">#}
{#                                        <input type="text" name="name" placeholder="Name*">#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-md-6 pd">#}
{#                                    <div class="input-box">#}
{#                                        <input type="text" name="mail" placeholder="Email*">#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="row margin">#}
{#                                <div class="col-md-6 pd">#}
{#                                    <div class="input-box">#}
{#                                        <input type="text" name="phone" placeholder="Phone*">#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-md-6 pd">#}
{#                                    <div class="input-box">#}
{#                                        <input type="text" name="date" placeholder="Date" id="datepicker">#}
{#                                        <div class="icon-box">#}
{#                                            <i class="fa fa-calendar" aria-hidden="true"></i>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="row margin">#}
{#                                <div class="col-md-6 pd">#}
{#                                    <div class="input-box">#}
{#                                        <input type="text" name="time" placeholder="Time">#}
{#                                        <div class="icon-box">#}
{#                                            <i class="fa fa-clock-o" aria-hidden="true"></i>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-md-6 pd">#}
{#                                    <div class="input-box">#}
{#                                        <select class="selectmenu">#}
{#                                            <option selected="selected">Select Service</option>#}
{#                                            <option>Select Service one</option>#}
{#                                            <option>Select Service Two</option>#}
{#                                            <option>Select Service Three</option>#}
{#                                        </select>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="row margin">#}
{#                                <div class="col-md-12 pd">#}
{#                                    <div class="input-box">#}
{#                                        <textarea name="message" placeholder="Message..."></textarea>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="row">#}
{#                                <div class="col-md-12">#}
{#                                    <button class="thm-btn bg-1" type="submit">Send Now</button>#}
{#                                </div>#}
{#                            </div>#}
{#                        </form>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}
{#    <!--End appoinment area-->#}

    <!--Start latest blog area-->
    <section class="latest-blog-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="sec-title-two pull-left">
                        <h1>Наши Новости</h1>
                    </div>
                    <div class="button pull-right">
                        <a href="{% url 'blog:blog' %}">Узнать Больше Новостей<i class="fa fa-caret-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <!--Start single latest blog-->
                <div class="col-md-4">
                    <div class="single-latest-blog">
                        <div class="img-holder">
                            <img src="{% static 'webapp/images/blog/lat-blog-1.jpg' %}" alt="Awesome Image">
                            <div class="overlay-box">
                                <div class="box">
                                    <div class="content">
                                        <a href="../../../blog/templates/blog/blog-single.html"><i class="fa fa-link" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-holder">
                            <ul class="meta-info">
                                <li><i class="fa fa-user" aria-hidden="true"></i><a href="#">Fletcher</a></li>
                                <li><i class="fa fa-clock-o" aria-hidden="true"></i><a href="#">April 21, 2016</a></li>
                            </ul>
                            <a href="../../../blog/templates/blog/blog-single.html">
                                <h3 class="blog-title">iPad Repairs For Schools / Universities Across The Usa</h3>
                            </a>
                        </div>
                    </div>
                </div>
                <!--End single latest blog-->
                <!--Start single latest blog-->
                <div class="col-md-4">
                    <div class="single-latest-blog">
                        <div class="img-holder">
                            <img src="{% static 'webapp/images/blog/lat-blog-2.jpg' %}" alt="Awesome Image">
                            <div class="overlay-box">
                                <div class="box">
                                    <div class="content">
                                        <a href="../../../blog/templates/blog/blog-single.html"><i class="fa fa-link" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-holder">
                            <ul class="meta-info">
                                <li><i class="fa fa-user" aria-hidden="true"></i><a href="#">Fletcher</a></li>
                                <li><i class="fa fa-clock-o" aria-hidden="true"></i><a href="#">April 11, 2016</a></li>
                            </ul>
                            <a href="../../../blog/templates/blog/blog-single.html">
                                <h3 class="blog-title">We offer the best in same day iPhone Repairs plymouth</h3>
                            </a>
                        </div>
                    </div>
                </div>
                <!--End single latest blog-->
                <!--Start single latest blog-->
                <div class="col-md-4">
                    <div class="single-latest-blog">
                        <div class="img-holder">
                            <img src="{% static 'webapp/images/blog/lat-blog-3.jpg' %}" alt="Awesome Image">
                            <div class="overlay-box">
                                <div class="box">
                                    <div class="content">
                                        <a href="../../../blog/templates/blog/blog-single.html"><i class="fa fa-link" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-holder">
                            <ul class="meta-info">
                                <li><i class="fa fa-user" aria-hidden="true"></i><a href="#">Fletcher</a></li>
                                <li><i class="fa fa-clock-o" aria-hidden="true"></i><a href="#">March 15, 2016</a></li>
                            </ul>
                            <a href="../../../blog/templates/blog/blog-single.html">
                                <h3 class="blog-title">All Software Boxes and Dongles At Best Prices</h3>
                            </a>
                        </div>
                    </div>
                </div>
                <!--End single latest blog-->
            </div>
        </div>
    </section>
    <!--End latest blog area-->


{% endblock %}
