{% extends 'main/base.html' %}
{% load static %}


{% block content %}
<!--Start breadcrumb area-->
    <section class="breadcrumb-area" style="background-image: url('{% if contact_banner_image %}{{ contact_banner_image.url }}{% else %}{% static 'webapp/images/resources/ecu_convert.jpg' %}{% endif %}');">
        <div class="container text-center">
            <h1>Отправлено!</h1>
        </div>
    </section>
<!--End breadcrumb area-->

<!--Start breadcrumb bottom area-->
<section class="breadcrumb-botton-area">
    <div class="container">
        <div class="left pull-left">
            <ul>
                <li><a href="{% url 'webapp:home' %}">Главная</a></li>
                <li><i class="fa fa-caret-right" aria-hidden="true"></i></li>
                <li>Отправлено</li>
            </ul>    
        </div>
    </div>
</section>
<!--End breadcrumb bottom area-->

<!--Start success area-->
<section class="not-found-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="not-found-content text-center">
                    <h2>ВАШЕ ПИСЬМО УСПЕШНО ОТПРАВЛЕНО!</h2>
                    <h3>Мы сваяжемся с вами в течении 10 минут.</h3>
                    <p>Вы можете воспользоваться поиском или перейти на главну страницу:</p>
                    <form class="search-form" action="#">
				        <input placeholder="Поиск..." type="text">
				        <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
				    </form>
                </div>
            </div>
        </div>
    </div>
</section> 
<!--End success area-->
{% endblock %}
