{% extends 'main/base.html' %}
{% load static %}


{% block content %}

<!--Start breadcrumb area-->     
<section class="breadcrumb-area">
	<div class="container text-center">
		<h1>Meet Our Team</h1>
	</div>
</section>
<!--End breadcrumb area-->

<!--Start breadcrumb bottom area-->
<section class="breadcrumb-botton-area">
    <div class="container">
        <div class="left pull-left">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><i class="fa fa-caret-right" aria-hidden="true"></i></li>
                <li>Meet Our Team</li>
            </ul>    
        </div>
        <div class="right pull-right">
            <a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i>Share</a>
        </div>  
    </div>
</section>
<!--End breadcrumb bottom area-->

<!--Start team area-->
<section class="team-area">
    <div class="container">
        <div class="row">
            <!--Start single team member-->
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="single-team-member">
                    <div class="img-holder">
                        <img src="{% static 'webapp/images/team/1.jpg" alt="Awesome Image">
                        <div class="overlay-one">
                            <div class="overlay-inner">
                                <div class="content">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
	                    </div>
	                    <div class="phone">
	                        <a href="#">
                                <span class="flaticon-call-answer"></span>
	                        </a>
	                    </div>
                    </div>
                    <div class="text-holder">
                        <h3>Parsley Montana</h3>
                        <span>Founder and CEO</span>
                        <div class="text">
                            <p>On the other hands ofdenounces with sed righteours  idea pleasure ut and praising pain was born and I will give indignations.</p>
                        </div>
                    </div>    
                </div> 
            </div>
            <!--End single team member-->
            <!--Start single team member-->
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="single-team-member">
                    <div class="img-holder">
                        <img src="{% static 'webapp/images/team/2.jpg" alt="Awesome Image">
                        <div class="overlay-one">
                            <div class="overlay-inner">
                                <div class="content">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
	                    </div>
	                    <div class="phone">
	                        <a href="#">
                                <span class="flaticon-call-answer"></span>
	                        </a>
	                    </div>
                    </div>
                    <div class="text-holder">
                        <h3>Rebecca Garza</h3>
                        <span>Team Leader</span>
                        <div class="text">
                            <p>Foresee the pains and troublers thats ut are bound to ensue; and equall blamed seds belongs to those duty you a complete account of the system.</p>
                        </div>
                    </div>    
                </div> 
            </div>
            <!--End single team member-->
            <!--Start single team member-->
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="single-team-member">
                    <div class="img-holder">
                        <img src="{% static 'webapp/images/team/3.jpg" alt="Awesome Image">
                        <div class="overlay-one">
                            <div class="overlay-inner">
                                <div class="content">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
	                    </div>
	                    <div class="phone">
	                        <a href="#">
                                <span class="flaticon-call-answer"></span>
	                        </a>
	                    </div>
                    </div>
                    <div class="text-holder">
                        <h3>Sunny Vandosky</h3>
                        <span>Customer Relations</span>
                        <div class="text">
                            <p>When our power of choices is untrams melled ut and when nothing prevento our being ut able to do you a complete expound the actual teachings .</p>
                        </div>
                    </div>    
                </div> 
            </div>
            <!--End single team member-->
            <!--Start single team member-->
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="single-team-member">
                    <div class="img-holder">
                        <img src="{% static 'webapp/images/team/4.jpg" alt="Awesome Image">
                        <div class="overlay-one">
                            <div class="overlay-inner">
                                <div class="content">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
	                    </div>
	                    <div class="phone">
	                        <a href="#">
                                <span class="flaticon-call-answer"></span>
	                        </a>
	                    </div>
                    </div>
                    <div class="text-holder">
                        <h3>Willaim Rickmen</h3>
                        <span>Business Developer</span>
                        <div class="text">
                            <p>When our power of choices is untrams melled ut and when nothing prevento seds our being of the great explorer of the truth, the maste -builder.</p>
                        </div>
                    </div>    
                </div> 
            </div>
            <!--End single team member-->
            <!--Start single team member-->
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="single-team-member">
                    <div class="img-holder">
                        <img src="{% static 'webapp/images/team/5.jpg" alt="Awesome Image">
                        <div class="overlay-one">
                            <div class="overlay-inner">
                                <div class="content">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
	                    </div>
	                    <div class="phone">
	                        <a href="#">
                                <span class="flaticon-call-answer"></span>
	                        </a>
	                    </div>
                    </div>
                    <div class="text-holder">
                        <h3>Stephen Adams</h3>
                        <span>Cheif Engineer</span>
                        <div class="text">
                            <p>Certain circumstances us and owings to the claims of duty the obligations of business it frequently there anyone who loves or pursues or desires.</p>
                        </div>
                    </div>    
                </div> 
            </div>
            <!--End single team member-->
            <!--Start single team member-->
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="single-team-member">
                    <div class="img-holder">
                        <img src="{% static 'webapp/images/team/6.jpg" alt="Awesome Image">
                        <div class="overlay-one">
                            <div class="overlay-inner">
                                <div class="content">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
	                    </div>
	                    <div class="phone">
	                        <a href="#">
                                <span class="flaticon-call-answer"></span>
	                        </a>
	                    </div>
                    </div>
                    <div class="text-holder">
                        <h3>Benjo Johnson</h3>
                        <span>Team Leader</span>
                        <div class="text">
                            <p>Foresee the pains and troublers thats are ut bound to ensue; and there anyone uts who loves or pursues or desires  equall blame seds those duty.</p>
                        </div>
                    </div>    
                </div> 
            </div>
            <!--End single team member-->
        </div>
    </div>
</section>
<!--End team area-->

{% endblock %}