{% extends 'main/base.html' %}
{% load static %}


{% block content %}

<!--Start breadcrumb area-->     
<section class="breadcrumb-area">
	<div class="container text-center">
		<h1>Testimonials</h1>
	</div>
</section>
<!--End breadcrumb area-->

<!--Start breadcrumb bottom area-->
<section class="breadcrumb-botton-area">
    <div class="container">
        <div class="left pull-left">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><i class="fa fa-caret-right" aria-hidden="true"></i></li>
                <li>Testimonials</li>
            </ul>    
        </div>
        <div class="right pull-right">
            <a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i>Share</a>
        </div>  
    </div>
</section>
<!--End breadcrumb bottom area-->

<!--Start testimonial area-->
<section class="testimonial-section">
    <div class="container">
        <div class="row">
            <!--Start single testimonial item-->
            <div class="col-md-4">
                <div class="single-testimonial-item">
                    <div class="text-holder">
                        <p>This company is professional, creative & good knowledgeable. Dwayne vat our designer was patient, accommodating and experienced and Gregory worked with me bring my concept from design to reality designs.</p>
                    </div> 
                    <div class="client-info">
                        <div class="img-box">
                            <img src="{% static 'webapp/images/testimonial/tes-1.jpg' %}" alt="Awesome Image">
                        </div>
                        <div class="title-box">
                            <h4>Amanda Syed</h4>
                            <p>Newyork</p>
                        </div> 
                    </div>
                </div>
            </div>
            <!--End single testimonial item-->
            <!--Start single testimonial item-->
            <div class="col-md-4">
                <div class="single-testimonial-item">
                    <div class="text-holder">
                        <p>Architect Michael Gregory worked with me to bring my concept from design to reality - providing much appreciated guidance. Gregory bring worked with me guidance bring my concept from design with to reality designs.</p>
                    </div> 
                    <div class="client-info">
                        <div class="img-box">
                            <img src="{% static 'webapp/images/testimonial/tes-2.jpg' %}" alt="Awesome Image">
                        </div>
                        <div class="title-box">
                            <h4>James Viltones </h4>
                            <p>Dream Theme </p>
                        </div> 
                    </div>
                </div>
            </div>
            <!--End single testimonial item-->  
            <!--Start single testimonial item-->
            <div class="col-md-4">
                <div class="single-testimonial-item">
                    <div class="text-holder">
                        <p>Repair Plus Company is professional, creative and knowledgeable. Dwayne our designer was patient, accommodating and experienced and Gregory worked with me bring my concept Gregory of Gregory.</p>
                    </div> 
                    <div class="client-info">
                        <div class="img-box">
                            <img src="{% static 'webapp/images/testimonial/tes-3.jpg' %}" alt="Awesome Image">
                        </div>
                        <div class="title-box">
                            <h4>William Anto</h4>
                            <p>Green Stud</p>
                        </div> 
                    </div>
                </div>
            </div>
            <!--End single testimonial item-->
            <!--Start single testimonial item-->
            <div class="col-md-4">
                <div class="single-testimonial-item">
                    <div class="text-holder">
                        <p>Architect Michael Gregory worked with me to bring my concept from design to reality - providing much appreciated guidance. Gregory worked with me worked bring my concept concept from design to reality designs.</p>
                    </div> 
                    <div class="client-info">
                        <div class="img-box">
                            <img src="{% static 'webapp/images/testimonial/tes-4.jpg' %}" alt="Awesome Image">
                        </div>
                        <div class="title-box">
                            <h4>Brad Johnson</h4>
                            <p>Rex Fertilizers</p>
                        </div> 
                    </div>
                </div>
            </div>
            <!--End single testimonial item-->
            <!--Start single testimonial item-->
            <div class="col-md-4">
                <div class="single-testimonial-item">
                    <div class="text-holder">
                        <p>Repair Plus Company is professional, creative and knowledgeable. Dwayne our designer was patient, accommodating and experienced and Gregory worked with me bring my concept from design.</p>
                    </div> 
                    <div class="client-info">
                        <div class="img-box">
                            <img src="{% static 'webapp/images/testimonial/tes-5.jpg' %}" alt="Awesome Image">
                        </div>
                        <div class="title-box">
                            <h4>David Fernando</h4>
                            <p>Park Gardens</p>
                        </div> 
                    </div>
                </div>
            </div>
            <!--End single testimonial item-->
            <!--Start single testimonial item-->
            <div class="col-md-4">
                <div class="single-testimonial-item">
                    <div class="text-holder">
                        <p>This company is professional, creative & good knowledgeable. Dwayne vat our designer was patient, accommodating and experienced and Gregory worked with me bring my concept from design to reality designs.</p>
                    </div> 
                    <div class="client-info">
                        <div class="img-box">
                            <img src="{% static 'webapp/images/testimonial/tes-6.jpg' %}" alt="Awesome Image">
                        </div>
                        <div class="title-box">
                            <h4>Philip Maradon</h4>
                            <p>Villo Steels</p>
                        </div> 
                    </div>
                </div>
            </div>
            <!--End single testimonial item-->             
        </div>
    </div>
</section>
<!--End testimonial area-->
{% endblock %}